﻿
<div class="section">
    <div class="box">
        <div class="title">
            @RC("Information")
            <span class="hide"></span>
        </div>
        <div class="content">
            <p>Här visas en logg över lite olika händelser. Du kan sortera vilken typ av händelse som du önskar se.</p>
            <ul>
                <li><b>Login:</b> När en användare loggar in.</li>
                <li><b>LoginFailed:</b> Misslyckad login</li>
                <li><b>Download:</b> Alla nedladdningar</li>
                <li><b>Zip:</b> Alla skapade och nedladdade ziparkiv</li>
            </ul>
        </div>
    </div>
</div>

<div class="section">
    <div class="box">
        <div class="title">
            @RC("Stat")
            <span class="hide"></span>
        </div>
        <div class="content">
            @LogFile()
        </div>
    </div>
</div>