﻿<div class="clear"></div><br />
(&copy;) All rights reserved New Wave Mode AB @DateTime.Now.Year  <a href="/admin">Intranet</a> 
    @if(User.IsInRole("admin")){<a href="/admin/pages/edit/@Model.WebPage.PageId">Edit Page</a>}

<script type="text/javascript">
        Cufon.replace("h1");
        Cufon.replace("h2");
        Cufon.replace("h3");
        Cufon.replace("h4");
        Cufon.replace("h5");
        Cufon.replace("h6");
</script>