﻿<!DOCTYPE html>
<html>
<head>
    <title>Logga in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <script src="/Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <link href="/Themes/www/Styles/login.css" rel="stylesheet" type="text/css" />
</head>
    <body>
        @RenderBody()
    </body>
</html>