﻿<!DOCTYPE html>
<html>
<head>
    <title>@Model.WebPage.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    @Css()
    @Css("wall", true)
    @Css("datatables", true)
    @Script("/Scripts/jquery-1.7.2.min.js", true)
    @Script("/Themes/www/Scripts/jquery-ui-1.8.22.custom.min.js", true)
    @Script("/Themes/www/Scripts/jquery.tmpl.min.js", true)
    @Script("/Themes/www/Scripts/jquery.wall.js", true)
    @Script("/Themes/www/Scripts/jquery.datatables.js", true)
    @Script("/Themes/www/Scripts/jquery.configuration.js", true)
    @Script("/Themes/www/Scripts/cufon-yui.js", true)
    @Script("/Themes/www/Scripts/AntennaExtraCond_Bold_700.font.js", true)
    <link rel="stylesheet" type="text/css"    href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>
    <link href="/Themes/www/Styles/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
    <body>
        @Html.Partial("DisplayTemplates/Topbar")
        @RenderBody()
    </body>
</html> 
<!--@@Html.Partial("_SiteExplorer")
@@Html.Partial("DisplayTemplates/ShopCart")-->