﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">@{ var theme = SettingsService.AdminTheme;}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
            <link rel="stylesheet" type="text/css" href="/themes/@theme/styles/admin.css" /> 
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery-1.7.1.min.js"></script>   
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery.backgroundPosition.js"></script>   
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery.placeholder.min.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery.ui.1.8.17.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery.ui.select.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery.ui.spinner.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/superfish.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/supersubs.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery.datatables.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/fullcalendar.min.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery.smartwizard-2.0.min.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/excanvas.min.js"></script> 
        <script type="text/javascript" src="/Themes/@theme/Scripts/pirobox.extended.min.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery.tipsy.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery.elastic.source.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery.jBreadCrumb.1.1.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery.customInput.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery.validate.min.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery.metadata.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery.filestyle.mini.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery.filter.input.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery.validate.min.js"></script>
         <script type="text/javascript" src="/Scripts/jscripts/tiny_mce/jquery.tinymce.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/Configuration.js"></script>
        <!--@@Html.LoadAllScripts()-->
        <!--[if lte IE 8]>
            <script type="text/javascript" src="/Themes/@theme/Scripts/excanvas.min.js"></script>
        <![endif]-->
    </head>
    
    <body>
    <div id="wrapper">
        <div id="container">	
            <div class="hide-btn top tip-s" original-title="Stäng sidomenyn"></div>
            <div id="top">
                <h1 id="logo"><a href="/"></a></h1>
                <div id="labels">
                    <ul>
                        <li><a href="#" class="user"><span class="bar">@GetUserName(User.Identity.Name)</span></a></li>
                        <li><a href="/admin/settings" class="settings"></a></li>
                        <li class="subnav">
                            <a href="#" class="messages"></a>
                            <ul>
                                <li><a href="/admin/message">Nytt meddelande</a></li>
                                <li><a href="/admin/message">Inkorgen</a></li>
                                <li><a href="/admin/message">Utkorgen</a></li>
                                <li><a href="/admin/message">Paperskorgen</a></li>
                            </ul>
                        </li>
                        <li><a href="/admin/account/exit" class="logout"></a></li>
                    </ul>
                </div>
                <div id="menu">
                    <ul> 
                        <li><a href="/admin">@RC("Dashboard")</a></li> 
                        <li>
                            <a href="#">@RC("CONTENT")</a>
                            <ul> 
                                <li class="current">
                                    <a href="#">Sidor</a>
                                    <ul> 
                                        <li><a href="/admin/addpage">Skapa ny sida</a></li>
                                        <li><a href="/admin/pages">Visa lista</a></li>
                                    </ul> 
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
		
            <div id="left">
                <div class="box search">
                    <div class="content">
                        <!--<form action="/admin/search/Index" method="POST"> lägg jquery här istället-->
                            <input type="text" name="searchstring" placeholder="Sök" />
                            <button type="submit"></button>
                        <!--</form>-->
                    </div>
                </div>
			
                <div class="box submenu">
                    <div class="content">
                        <ul>
                            <li><a>Skapa</a></li>
                            <li>
                                <ul>
                                    @Html.Raw(ViewBag.MENU)
                                </ul>
                            </li>
                           
                        </ul>
                    </div>
                </div>
			
                <div class="box statics">
                    <div class="content">
                        <ul>
                            <li><h2>Statistik</h2></li>
                            <li>Antal sidor <div class="info red"><span>@PageCount()</span></div></li>
                            <li>Kommentarer <div class="info blue"><span>@CommentCount()</span></div></li>
                            <li>Användare <div class="info green"><span>@UserCount()</span></div></li>
                            <li>Senast uppdaterad <div class="info black"><span>@DateTime.Now.ToShortDateString()</span></div></li>
                        </ul>
                    </div>
                </div>
			
                <div class="box togglemenu">
                    <div class="content">
                        <ul>
                            <li><h2>Meddelanden</h2></li>
                            <li class="title">Intranet uppstart</li>
                            <li class="content">
                               Nu är vi igång med den första versionen av vårt nya intranät.
                            </li>
                            <li class="title">Moduler, widgets</li>
                            <li class="content">
                                Nu finns det ett antal helt nya moduler och widgets att använda. 
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
		
            <div id="right">
                <div id="breadcrumbs">
                    <ul>
                        <li></li>
                        <li><a href="#">Start</a></li>
                        @{
                            if (ViewData["Menu"]!=null)
                            {
                                @ToHtml(ViewData["Menu"].ToString())
                            }
                        }
                        
                    </ul>
                </div>
                @RenderBody()   
            </div>

            <div id="footer">
                <div class="split">&#169; Alla rättigheter reserverade New Wave Profile. @DateTime.Now.Year.ToString()</div>
                <div class="split right">Powered by <a href="http://www.m33.se" target="_blank" title="M33 SYSTEMS">M33 SYSTEMS</a></div>
            </div>
        </div>
    </div>
    </body>
</html>