﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">@{ var theme = SettingsService.AdminTheme;}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
     <head>
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <link rel="stylesheet" type="text/css" href="/themes/@theme/styles/bootstrap.css" /> 
        <link rel="stylesheet" type="text/css" href="/themes/@theme/styles/bootstrap-responsive.css" /> 
         <link rel="stylesheet" type="text/css" href="/Themes/responsive/Styles/layout.main.css" />
         <link rel="stylesheet" type="text/css" href="/Themes/responsive/Styles/theme.grey.css" />
        <script type="text/javascript" src="/Themes/@theme/Scripts/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/Themes/@theme/Scripts/bootstrap.min.js"></script>   
         <script src="/Themes/responsive/Scripts/bootstrap.config.js"></script>    
    </head>
    
    <body>
       <div id="header">
			<h1><a href="./dashboard.html">Unicorn Admin</a></h1>		
		</div>
		
		<div id="search">
			<input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="icon-search icon-white"></i></button>
		</div>
		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse" ><a title="" href="#"><i class="icon icon-user"></i> <span class="text">Profile</span></a></li>
                <li class="btn btn-inverse dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important">5</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="sAdd" title="" href="#">new message</a></li>
                        <li><a class="sInbox" title="" href="#">inbox</a></li>
                        <li><a class="sOutbox" title="" href="#">outbox</a></li>
                        <li><a class="sTrash" title="" href="#">trash</a></li>
                    </ul>
                </li>
                <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
                <li class="btn btn-inverse"><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
            
		<div id="sidebar">
			<a href="#" class="visible-phone"><i class="icon icon-th-list"></i> Wizard</a>
			<ul>
				<li><a href="/admin"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
				<li class="submenu active open">
					<a href="#"><i class="icon icon-th-list"></i> <span>Form elements</span> <span class="label">3</span></a>
					<ul>
						<li><a href="form-common.html">Common elements</a></li>
						<li><a href="form-validation.html">Validation</a></li>
						<li class="active"><a href="form-wizard.html">Wizard</a></li>
					</ul>
				</li>
				<li><a href="buttons.html"><i class="icon icon-tint"></i> <span>Buttons &amp; icons</span></a></li>
				<li><a href="interface.html"><i class="icon icon-pencil"></i> <span>Interface elements</span></a></li>
				<li><a href="tables.html"><i class="icon icon-th"></i> <span>Tables</span></a></li>
				<li><a href="grid.html"><i class="icon icon-th-list"></i> <span>Grid Layout</span></a></li>
				<li class="submenu">
					<a href="#"><i class="icon icon-file"></i> <span>Sample pages</span> <span class="label">4</span></a>
					<ul>
						<li><a href="invoice.html">Invoice</a></li>
						<li><a href="chat.html">Support chat</a></li>
						<li><a href="calendar.html">Calendar</a></li>
						<li><a href="gallery.html">Gallery</a></li>
					</ul>
				</li>
				<li>
					<a href="charts.html"><i class="icon icon-signal"></i> <span>Charts &amp; graphs</span></a>
				</li>
				<li>
					<a href="widgets.html"><i class="icon icon-inbox"></i> <span>Widgets</span></a>
				</li>
			</ul>
		
		</div>
		
		<div id="style-switcher">
			<i class="icon-arrow-left icon-white"></i>
			<span>Style:</span>
			<a href="#grey" style="background-color: #555555;border-color: #aaaaaa;"></a>
			<a href="#blue" style="background-color: #2D2F57;"></a>
			<a href="#red" style="background-color: #673232;"></a>
		</div>

        <script>
            // === Style switcher === //
            $('#style-switcher i').click(function () {
                if ($(this).hasClass('open')) {
                    $(this).parent().animate({ marginRight: '-=190' });
                    $(this).removeClass('open');
                } else {
                    $(this).parent().animate({ marginRight: '+=190' });
                    $(this).addClass('open');
                }
                $(this).toggleClass('icon-arrow-left');
                $(this).toggleClass('icon-arrow-right');
            });

            $('#style-switcher a').click(function () {
                var style = $(this).attr('href').replace('#', '');
                $('.skin-color').attr('href', 'css/unicorn.' + style + '.css');
                $(this).siblings('a').css({ 'border-color': 'transparent' });
                $(this).css({ 'border-color': '#aaaaaa' });
            });
        </script>
		
		<div id="content">
            @RenderBody()
	    </div>

    </body>
</html>