﻿ @{
     
    if (User.IsInRole("admin")) 
    {
                                                          
        <div id="siteexplorer" class="shadow rc full">
            <div id="explorerhead">SITE EXPLORER</div>
            <div id="explorerpanel">
                <div class="pageedit"><a href="/admin/pages/edit/@Model.WebPage.PageId#tab=4" title="Redigera sida">&nbsp;</a></div>
            </div>
        </div>
     
       <script type="text/javascript">

           $(document).ready(function () {
               $('#pe').click(function () {
                   $('#siteexplorer').toggle();
               });

               $('#siteexplorer').draggable({
                   handle: '#explorerhead'
               }).hide();

               $('#explorerhead').bind('dblclick', function () {
                   if ($('#explorerhead').hasClass("min"))
                       $('#explorerhead').removeClass("min").addClass("full");
                   else
                       $('#explorerhead').removeClass("full").addClass("min");
               });

            });

        </script>   
    } 
}