﻿@{
    ViewBag.Title = "Logga in";
    Layout = "~/Views/Shared/_Layout.Login.cshtml";
    string url = SettingsService.SSOService;
}



<div id="wrapper" class="login">
	<div class="box">
		<div class="title">
			@RC("Login")
			<span class="hide"></span>
		</div>
		<div class="content">
			<div class="message inner blue">
                <span class="info"><b>Information</b>: Klicka på login för att fortsätta.</span>
			</div>
				<div class="row">
					<label>@RC("Username")</label>
					<div class="right"> @Html.TextBox("username")</div>
				</div>
				<div class="row">
					<label>@RC("Password")</label>
					<div class="right">@Html.Password("password")</div>
				</div>
				<div class="row">
					<div class="right">
                        <button id="logon" type="submit" class="blue"><span>@RC("Login")</span></button>
					</div>
				</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    $("#logon").click(function () {
        $(".message").removeClass("red").addClass("blue");
        $(".info").html('<b>Information</b>: Klicka på login för att fortsätta.').hide();
        var url = '@url/SSOService.svc/user/Login?username=' + $("#username").val() + '&password=' + $("#password").val();
        $.get(url,
                {},
                function (ssodata) {
                    if (ssodata.LoginResult.Status == 'DENIED') {
                        $(".message").removeClass("blue").addClass("red");
                        $(".info").html('<b>Information</b>: Kunde inte logga in!').show();
                    } else {
                        document.location = '@Url.Action("Authenticate", "Account")';
                    }
                }, 'jsonp');
    });   
</script>
