﻿
<div class="row">
    <div id="widgetcontrol">
        <table style="width: 200px;border: 1px solid#fff !important;">
            <tr>
                <td>
                    <b>@RC("AddWidget")</b><br/>
                    <select size="1" id="widget">
                        @GetAllWidgetForList()
                    </select>
                </td>
                <td>
                    <b>@RC("SelectZone")</b><br/>
                    @Zones(Model.PageId.ToString(), Model.Layout)
                </td>
                <td><button id="addWidget" class="blue"><span>Lägg&nbsp;till</span></button></td>
            </tr>
        </table>
        <input type="hidden" name="Page" id="Page" value="@Model.PageId" />
    </div>
</div>

