﻿@using NWP.Models      

                                                               
<div id="container">
    <div id="header">
        <h1>New Wave Profile Intranät</h1>
        <div id="logo">@UserLogo()</div>
        <div id="primary-menu">
            @TopMenu()
            <div class="clear group"></div>
        </div>
        <div class="clear group"></div>
        @Zone("HEADER")
        <div class="clear group"></div>
    </div>
    <div id="main twoColumns">
        <div id="sidebar" class="sidebar">
            @SubMenu()
            @Zone("SIDEBAR")
        </div>
        <div id="content" class="threeColumns">
               @Zone("CONTENT")

                 <!--LOGG-->
            
                    <div id="thewall"></div>
                    <div class="fb-wall-clean"></div>         
                <!--End LOGG-->
         </div>
        
        <div id="sidebarright" class="sidebarright">
                @Zone("SIDEBARRIGHT")
            </div>
        <div class="clear group"></div>
    </div>
    <div class="clear group"></div>
</div> 
<div id="footer">
    @Html.Partial("_Footer")
</div>