﻿@using NWP.Models      

@{ var isread = Model.SetRead();}
                                                                   
<div id="container">
    <div id="header">
        <h1>New Wave Profile Intranät</h1>
        <div id="logo">@UserLogo()</div>
        <div id="primary-menu">
            @TopMenu()
            <div class="clear group"></div>
        </div>
        <div class="clear group"></div>
        @Zone("HEADER")
        <div class="clear group"></div>
    </div>
    <div id="main twoColumns">
        <div id="sidebar" class="sidebar">
            @SubMenu()
            @Zone("SIDEBAR")


            <h3>Andra användare (@UserCount())</h3>
            <div id="ulist" style="width: 295px;height: 2000px;overflow: auto;">
                @UserList()
            </div>
            <br /><br />

        </div>
        <div id="content" class="threeColumns">
            
            @{
                var user = (NWP.Models.User)Model.UserInfo(Request["user"]);
                var current = Model.GetCurrent();


                <div id="tabs">
                     <ul>
                        <li><a href="#tabs-1">Kontaktkort</a></li>
                        <li><a href="#tabs-2">Redigera bild</a></li>
                        <li><a href="#tabs-3">Redigera lösenord</a></li>
                        <li><a href="#tabs-4">Redigera användare</a></li>
                    </ul>
                     
                     <div id="tabs-1" class="active">
                         <div class="usercard">
                            <div class="user-icon">
                                <img src="/Themes/www/Styles/Images/users/@user.UserIcon" alt="@user.DisplayName" id="userImage" />
                            </div>
                   
                            <h1>Kontaktkort</h1>
                            <label>Namn</label> <div class="edit" id="DisplayName">@user.DisplayName</div>
                            <label>Yrkesroll</label> <div class="edit" id="Position">@user.Position</div>
                            <label>Företag</label> <div class="edit" id="CompanyName"> @user.CompanyName</div>
                            <label>E-postadress</label> <div class="edit" id="Email">@user.Email</div>
                            <label>Telefon</label> <div class="edit" id="Phone">@user.Phone</div>
                            <label>Om @user.DisplayName</label><br/>
                            <div class="infobox edit_area" id="PersonalDetails">@user.PersonalDetails</div>
                          </div>
                     </div>
                    <div id="tabs-2">
                       
                        <button type="submit" class="button" id="changeImageLnk" rel="1"><span>Ändra bild</span></button>
                    </div>
                     <div id="tabs-3">
                         <b>Ändra ditt lösenord</b><br />
                         <input type="password" id="myPassword" /> <button class="submit" id="myPasswordSave"><span>Spara</span></button>
                     </div>
                     <div id="tabs-4">
                         <b>Redigera användare</b><br />
                         @if (User.IsInRole("webmaster") || User.IsInRole("admin"))
                         {
                             <div style="width: 450px;">
                                 <div style="width: 200px;float: left;">
                                    @WebmasterUserList()
                                 </div>
                                 <div style="width: 200px;margin-left: 15px;float: left;">
                                     <div id="userchange"></div>
                                     <label for="active">Aktiv</label>
                                     <input type="checkbox" value="0" name="active" id="active" /><br />
                                     <label for="newPassword">Ändra lösenord för användaren</label>
                                     <input type="text" name="newPassword" id="newPassword" /> <button type="button" id="saveUserData" class="submit"><span>Spara</span></button>
                                 </div>
                                 <div class="clear"></div>
                             </div>
                         }else{
                            <p>Om du anser att du skall rättighet att administrera användare, kontakta din administratör eller skicka ett pm till adminstratören på New Wave Profile.</p>
                         }
                     </div>
                </div>
                
                <b>Skicka meddelande till @user.DisplayName</b>
                <textarea class="big" rows="4" cols="126" id="text"></textarea>
                <button id="send"><span>Skicka</span></button>
              
                if (User.IsInRole("admin") && Request["user"] == "1")
                {
                     <label for="sendToAll">Skicka detta meddelande till alla i intranätet.</label>
                    <input type="checkbox" class="sendToAll" name="sendToAll" id="sendToAll" value="0"   />  
                    }  
                
                <br/><br/>
                
                var messages = Model.Discussions(Convert.ToInt32(Request["user"]));
                if (messages.Count == 0)
                {
                    <em>Inga inlägg i @user.DisplayName's logg.</em><br />   
                }
                else
                {
                    <p>Inlägg i @user.DisplayName personliga logg.</p>
                }
                
                <div id="discussion">
                   
                    @{
                       
                        foreach (var message in messages)
                        {
                            var item = (PrivateDiscussion)message;
                            var from = GetUserNameById(item.FromUserId);
                            var fromUser = (User)GetUserById(item.UserId);
                            var u = (User)GetUserById(item.FromUserId);
                                <div class="messageitem">
                                    <div class="image">
                                        <img src="/Themes/www/Styles/Images/users/@u.UserIcon" style="width: 50px;" />
                                        
                                    </div>
                                    <div class="from"><div class="username"><small><a href="/personlig-sida?user=@item.FromUserId">@from</a> </small><span><em><small>@item.Created</small></em></span></div>
                                        <div class="message">@item.Html</div>
                                    </div>
                                </div>
                            
                                <hr /><div class="clear" style="margin-bottom: 4px;"></div>
                        }
                        
                        
                    }
                </div>
              
            }
            @Zone("CONTENT")

        </div>
        
        <div id="sidebarright" class="sidebarright">
            @GetUnreadPosts()
            @Zone("SIDEBARRIGHT")
         </div>
       
         <div class="clear"></div>
    </div>
   
</div> 
<div id="footer">
    @Html.Partial("_Footer")
</div>





<style>
    .imgPanel {
        padding: 10px;
        border: 1px solid #eee;
        background: #fafafa;
        margin-bottom: 1px;
    }

    #tabs {
        font-size: 8pt;
    }

</style>


@{

    if (User.Identity.Name == user.UserName)
    {
         <script type="text/javascript" src="/Themes/www/Scripts/jquery.jeditable.js"></script>
        <script type="text/javascript">
 

            $(document).ready(function () {


                $('.edit').editable('/user/saveuserdata', {
                    onblur : 'submit',
                    indicator: 'Sparar...',
                    tooltip: 'Klicka för att redigera...',
                    loadtype: 'POST',
                    onerror:  function(settings, original, xhr) { alert(xhr.responseText); }
        
                });
                $('.edit_area').editable('/user/saveuserdata', {
                    type: 'textarea',
                    cancel: 'Avbryt',
                    submit: 'OK',
                    indicator: '<img src="img/indicator.gif">',
                    tooltip: 'Klicka för att redigera...'
                });
            });

        </script>
    }

    
    <script type="text/javascript">
        $(document).ready(function () {

            $(".beeper_x").each(function(){
                $(this).click( function(){
                    
                    var $this = $(this).closest(".UIBeeper");
                    
                    $.ajax({
                        url: "/wall/wall/unsetmessage",
                        data: {  id: $(this).attr("id") },
                        type: "GET",
                        success: function (data) {
                            $this.remove();
                        }
                    });

                    return false;
                });
            });

            $("#changeImageLnk").click(function(){
                var windowSizeArray = [ "width=200,height=200", "width=1000,height=650,scrollbars=no" ];
                var url = "/pages/UserImageUpload";
                var windowName = "popUp";
                var windowSize = windowSizeArray[$(this).attr("rel")];
                window.open(url, windowName, windowSize);
                return false;
            });

            $(".webmasteruserlist").change(function(){

                $.ajax({
                    url: "/user/getuser",
                    data: {  id: $(".webmasteruserlist").find("option:selected").val() },
                    type: "GET",
                    success: function (data) {
                        $('#active').prop('checked', false);
                        if(data==true)
                            $('#active').prop('checked', true);

                        var template = "<p>"+$(".webmasteruserlist").find("option:selected").text()+"</p>"
                        $("#userchange").html(template);
                    }
                });

               
            });

            $("#saveUserData").click(function(){
                $.ajax({
                    url: "/user/SaveUpdateUser",
                    data: {  id: $(".webmasteruserlist").find("option:selected").val(), active: $("#active").prop("checked"), password: $('#newPassword').val() },
                    type: "GET",
                    success: function (data) {
                        $("#newPassword").val('');
                        alert("Användaren's data uppdaterades.");
                    }
                });
            });


            $("#myPasswordSave").click(function(){

                if(confirm("Du kommer nu att loggas ut om du klickar på Ok. När du loggar in igen måste du använda ditt nya lösenord.")){
                    $.ajax({
                        url: "/user/SaveMyPassword",
                        data: { password: $('#myPassword').val() },
                        type: "GET",
                        success: function (data) {
                            $("#myPassword").val('');
                            document.location = "/admin/account/exit";
                        }
                    });
                }
            });



            $("#tabs").tabs({ collapsible: true, active: 1 }).tabs("option", "active", 1);

            var check = 0;

            @if (User.IsInRole("admin"))
            {
            <text>    
            $('#sendToAll').click(function(){

                    if (this.checked) {
                        check = 1;
                    } else{
                        check = 0;
                    }
                }) </text>
            }

            $('#send').click(function () {
                if($("#text").val()==''){
                  
                    alert("Du måste skriva något.");
                    return;
                }
                    $.ajax({
                        url: "/user/message",
                        data: {  id: @Request["user"], value: $('#text').val(), all: check },
                        type: "GET",
                        error: function (data){ alert(data.responseText); },
                        success: function (data) {
                            var template = '<div class="messageitem">';
                            template +=    '    <div class="image">';
                            template +=    '        <img src="/Themes/www/Styles/Images/users/@current.UserIcon"  style="width: 50px;" />';
                            template +=    '    </div>';
                            template +=    '    <div class="from"><div class="username"><small><a href="/personlig-sida?user=@current.Id">@current.DisplayName</a> </small><span><em><small></small></em></span></div>';
                            template +=    '       <div class="message">'+data+'</div>';
                            template +=    '    </div>';
                            template +=    '</div><hr /><div class="clear" style="margin-bottom: 4px;"></div>';


                            $('#discussion').prepend(template);
                            $('#text').val('');
                        }
                        
                    });

            });
        });
    </script>
}