﻿@{
    
}

<div id="container" class="twocolumn">
    <div id="header">
        <h1>New Wave Profile Intranät</h1>
        <div id="logo">@UserLogo()</div>
        <div id="primary-menu">
            @TopMenu()
            <div class="clear group"></div>
        </div>
        <div class="clear group"></div>
        @Zone("HEADER")
        <div class="clear group"></div>
    </div>
    <div id="main twoColumns">
        <div id="sidebar" class="sidebar">
            <div class="headeritem"><h3>Meny</h3></div>
            <div id="menu">
                @SubMenu()
            </div>
             @Zone("SIDEBAR")
        </div>
        <div id="content" class="twoColumns">
            @Zone("CONTENT")
            <div class="clear group"></div>
        </div>
        <div class="clear group"></div>
    </div>
    <div class="clear group"></div>
</div> 
 <div id="footer">
        @Html.Partial("_Footer")
 </div>