﻿<div id="container">
    <div id="header">
        <h1>New Wave Profile Intranät</h1>
        <div id="logo">@UserLogo()</div>
        <div id="primary-menu">
            @TopMenu()
            <div class="clear group"></div>
        </div>
        <div class="clear group"></div>
        @Zone("HEADER")
        <div class="clear group"></div>
    </div>
    <div id="main">
        <div class="content">
            @Zone("CONTENT")
        </div>
        <div class="clear group"></div>
    </div>
    <div class="clear group"></div>
</div> 
 <div id="footer">
        @Html.Partial("_Footer")
 </div>