﻿
<div id="container">
    <div id="header">
       <h1>New Wave Profile Intranät</h1>
        <div id="logo">@UserLogo()</div>
        <div id="primary-menu">
            @TopMenu()
            <div class="clear"></div>
        </div>
        @Zone("HEADER")
        <div class="clear"></div>
    </div>
    <div id="main">
        <div id="sidebar" class="sidebar">
            @Zone("SIDEBAR")
        </div>
        <div id="content" class="threeColumns">
            @Zone("CONTENT")
        </div>
        <div id="sidebarright" class="sidebarright">
            @Zone("SIDEBARRIGHT")
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div id="footer">
    @Html.Partial("_Footer")
</div>