﻿@model NWP.Models.EditorInputModel     

<!DOCTYPE html>
<html>
<head>
    <title>Redigera bild</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
     <link rel="stylesheet" type="text/css" href="/themes/www/styles/imageupload.css" />
    <link rel="stylesheet" type="text/css"  href="/Themes/www/Scripts/Crop/jquery.Jcrop.css"/>
    <script type="text/javascript" src="/Themes/www/Scripts/Crop/jquery.JCrop.js"></script>
   

</head>
<body>

<div id="container">
<div class="info">
<ul>
     <li>
        <p>Flytta och/eller dra i området på bilden för att justera tills du är nöjd med din bild.</p>
    </li>
    <li> 
        <div id="mainform"> 
                @using (Html.BeginForm("SaveUserImage", "Pages", FormMethod.Post))
                {      
                     <div id="cropContainer">     
                        <div id="cropPreview">        
                            <img src="@Model.Profile.ImageUrl" id="preview" />    
                        </div>
                        <div id="cropDisplay">         
                            <img src="@Model.Profile.ImageUrl" id="profileImageEditor" />
                        </div>
                    </div>
                    
                    @Html.HiddenFor(x=>x.Left)      
                    @Html.HiddenFor(x=>x.Right)      
                    @Html.HiddenFor(x=>x.Top)      
                    @Html.HiddenFor(x=>x.Bottom)      
                    @Html.HiddenFor(x => x.Profile.ImageUrl)     
                    <input type="submit" class="submit" name="action" value="Spara" />  

 }          </div>
     </li>      
 </ul>

<div class="group"></div>


<script type="text/javascript">   
 
             
    
    $(document).ready(function ()
    {
       jQuery('#profileImageEditor').Jcrop({           
           onChange: showPreview,           
           onSelect: showPreview,           
           setSelect: [@Model.Top, @Model.Left, @Model.Right, @Model.Bottom],          
           aspectRatio: 1        
       });     
      
      function showPreview(coords)     {         
          if (parseInt(coords.w) > 0)
          {             
              $('#Top').val(coords.y);              
              $('#Left').val(coords.x);            
              $('#Bottom').val(coords.y2);            
              $('#Right').val(coords.x2);              
              var width = @Model.Width;             
              var height = @Model.Height;            
              var rx = 100 / coords.w;             
              var ry = 100 / coords.h;            
              jQuery('#preview').css({                 
                  width: Math.round(rx * width) + 'px',                
                  height: Math.round(ry * height) + 'px',                
                  marginLeft: '-' + Math.round(rx * coords.x) + 'px',                  
                  marginTop: '-' + Math.round(ry * coords.y) + 'px'             
              });        
          }    
      }

   });

  </script> 
      <script type="text/javascript" charset="utf-8">
          $(function () {
              $("input:checkbox, input:radio, input:file, select").uniform();
          });
    </script>

    </div>


    </div>
    </body>
</html>
