﻿@model NWP.Models.DataRepository<NWP.Widgets.News>
@{
    ViewBag.Title = "Pages";
    Layout = "~/Views/Shared/_Layout.Admin.cshtml";
}

<div class="section">
	<div class="box">
		<div class="title">
			Sidstruktur
			<span class="hide"></span>
		</div>
		<div class="content nopadding">
			<table cellspacing="0" cellpadding="0" border="0"> 
				<thead> 
					<tr>
						<th>Titel</th>
						<th>Aktiv</th>
						<th>Skapad</th>
						<th>Redigera</th>
					</tr>
				</thead>
				<tbody>
                @foreach(var item in Model.Pages){
					<tr>
						<td>@item.MetaTitle</td>
						<td>@item.Active</td>
						<td>@item.IsGlobal.ToString()</td>
						<td><a href="/admin/pages/edit/@item.PageId">Redigera</a></td>
					</tr>
                }
				</tbody>
			</table>
		</div>
	</div>
</div>
