﻿@model NWP.Widgets.Medias
@using System.Globalization

@{var pageid = Model.PageId.ToString(CultureInfo.InvariantCulture);}

<div class="section">
    <div class="box">
        <div class="title">
            @RC("Medias")
            <span class="hide"></span>
        </div>
        <div class="content">
            @using (Html.BeginForm("SaveData", "Medias"))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.WidgetId)
                @Html.HiddenFor(model => model.Created)
                @Html.HiddenFor(model => model.TrashBin)

                                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.PageId))
                    </div>
                    <div class="editor-field">
                        @Pages(Model.PageId)
                        @Html.ValidationMessageFor(model => model.PageId)
                    </div>
                </div>

                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Zone))
                    </div>
                    <div class="editor-field">
                        @Zones(pageid, Model.Zone)
                        @Html.ValidationMessageFor(model => model.Zone)
                    </div>
                </div>

                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Title))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>
                
                 <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.IsGlobal))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IsGlobal)
                        @Html.ValidationMessageFor(model => model.IsGlobal)
                    </div>
                </div>
                
                 <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Active))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Active) @Html.EditorFor(model => model.IsGlobal) 
                        @Html.ValidationMessageFor(model => model.Active) 
                    </div>
                </div>
 

                 @Html.EditorFor(m => m.Html, "HtmlEdit")
                
                 @Html.Partial("~/Views/Shared/EditorTemplates/Attachments.cshtml", Model)
                 <input type="hidden" name="WidgetType" value="Medias" />

                 <div class="row">
                    <p>
                        <button type="submit" class="blue"><span>@RC("Save")</span></button>
                        <button type="button" onclick="document.location.href='/admin/medias'"><span>Visa lista</span></button>
                    </p>
                </div>

            }
        </div>
    </div>
</div>
