﻿<html>
    <head>
        <title>Bild</title>
         <link rel="stylesheet" type="text/css" href="/themes/www/styles/imageupload.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="/Themes/www/Scripts/jquery.uniform.js"></script>
    </head>
<body>


<div id="container">
    <div class="info">
            <ul>
             <li>
                <p>Hämta den nya bilden genom att klicka på "Välj fil" och navigera dig fram till bilden på din dator.</p>
            </li>
            <li> 

                  @using (Html.BeginForm("UserImageUpload", "Pages", FormMethod.Post, new { @encType = "multipart/form-data", onsubmit = "return isValidImg(); return false;" }))
                  {
                      <input type="file" name="image" id="image" /> <br /><br /><br />
                      <button type="submit" id="submit"><span>Ladda upp bilden</span></button>
                    
                  }
                </li>

            </ul>
    </div>
</div>

    <script type="text/javascript" charset="utf-8">
        $(function () {
            $("input:checkbox, input:radio, input:file, select").uniform();
        });

        function isValidImg() {
            var $file = $("#image");
            if ($("#image").val() == '') {
                alert("Du måste välja en fil att ladda upp.");
                return false;
            }

            var $filePath = $.trim($file.val());
            var $ext = $filePath.split(".").pop().toLowerCase();
            var $allow = new Array("jpg");
            if ($.inArray($ext, $allow) == -1) {
                alert("Filen är inte en JPG file, väl en annan fil.");
                return false;
            }

            return true;
        }



    </script>

</body>
</html>