﻿<div class="section">

    <div class="half">
        <div class="box">
        <div class="menu">
           
            <ul><li class="menuitem"><span id="createBtn">Create folder</span></li> <li class="menuitem"><span id="uploadBtn">Ladda upp fil</span></li></ul>
            <span class="hide"></span>
        </div>
            <div class="content nopadding">
                <table>
                    <thead>
                        <tr>
                            <th>Namn</th>
                            <th>Senast ändrad</th>
                        </tr>
                    </thead>
                    @foreach(var folder in Model.Directories)
                    {
                        @ToHtml(folder)
                    }
                </table>
            </div>
        </div>
    </div>  

    <div class="half">
            <div class="box">
            <div class="title">
               Filer
                <span class="hide"></span>
            </div>
                <div class="content nopadding">
                    <table>
                        <thead>
                            <tr>
                                <th>Namn</th>
                                <th>Senast ändrad</th>
                            </tr>
                        </thead>
                    @foreach(var file in Model.Files)
                    {
                        @ToHtml(file)
                    }
                    </table>
                </div>
                </div>
        </div>  


</div>
