﻿<div class="section">
    <div class="box">
        <div class="title">
            @RC("Trash")
            <span class="hide"></span>
        </div>
        <div class="content">
           <table cellspacing="0" cellpadding="0" border="0" class="all"> 
				<thead> 
					<tr>
						<th>Namn</th>
						<th>ID</th>
						<th>@RC("Edit")</th>
					</tr>
				</thead>
				<tbody>
                @foreach(var item in Model){
					<tr>
						<td>@item.Type</td>
						<td>@item.ID</td>
						<td><a href="/admin/trash/restore/@item.Type/@item.ID">Återställ</a> <a class="deleteLink" href="/admin/trash/delete/@item.Type/@item.ID">Radera</a></td>
					</tr>
                }
				</tbody>
			</table>
        </div>
    </div>
</div>