﻿<div class="section">
    <div class="box">
        <div class="title">
            @RC("Order")
            <span class="hide"></span>
        </div>
        <div class="content">
            <h1>Hantera ordrar</h1>
        </div>
    </div>
</div>