﻿@model dynamic
@{
    var modelData = NWP.Models.AttachmentList.GetList(Model.AttachementListId);
    string path = Model.GetType().Name;
}
<link href="/Themes/admin/Styles/FileUpload/uploadify.css" rel="stylesheet" />
<script src="/Themes/admin/Scripts/Fileupload/jquery.uploadify.js"></script>
<div class="row">
    <div class="editor-label">Filer</div>
    <div class="editor-field">

        <table border="0">
            <thead>
                <tr>
                    <th>Ladda upp</th>
                    <th>Filer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="vertical-align:top">
                        <table border="0" style="width: 270px !important;">
                            <tr>
                                <td >
		                            <input id="file_upload" name="file_upload" type="file" class="button" multiple="true">
                                    <div id="progress"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table border="0">
                            <thead>
                                <tr>
                                    <th>Filnamn</th>
                                </tr>
                            </thead>
                            <tbody id="files">
                                  <tr>
                                    <td>
                                        @{
                                            if (modelData.Items != null)
                                            {
                                                foreach (var item in modelData.Items)
                                                {
                                                   @ImageExt(item.FilePath, item.FileName, item.Id.ToString())
                                                }
                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>


<script type="text/javascript">

    $(function() 
    {
        var auth = "@(Request.Cookies[FormsAuthentication.FormsCookieName]==null ? string.Empty : Request.Cookies[FormsAuthentication.FormsCookieName].Value)";
  
        $("#file_upload").uploadify({
            'formData'      : {'ListId' : '@modelData.ListId', 'folder' : '@path', 'sessionid' : '@Session.SessionID', 'token' : auth},
            'swf'           : '/Themes/Admin/Scripts/Fileupload/uploadify.swf',
            'uploader': '/admin/pages/upload',
            'queueID': 'progress',
            'button_text': '',
            'fileSizeLimit': '5GB',
            'fileTypeExts': '*.jpg;*.png;*.gif;*.bmp;*.jpeg;*.pdf;*.zip;*.rar;*.doc;*.docx;*.csv;*.xls;*.xlsx;*.eps;*.ai;',
             onUploadComplete: function (file) {
                
                var ext = file.name.split('.').pop();
                var template = "<div class=\"uploadify-queue-item\"><div class=\"cancel\" id=\"#\"><a href=\"#\">&nbsp;</a></div><span class=\"fileName\"><img src=\"/themes/admin/Styles/Icons/32px/" + ext + ".png\" alt=\"\" /> " + file.name + "</span><span class=\"data\"></span></div>";
                $("#files tr td").append(template);
                reload();

            },
            'onUploadError': function (file, errorCode, errorMsg, errorString) {
                alert('The file: ' + file + ", " + file.name + ' could not be uploaded: ' + errorString + " error: " + errorString.info + " desc: " + errorString.type);
            } 
        });
        
        
        function reload() {

            $("#files tr td .uploadify-queue-item").each(function () {
                $(this).click(function () {
                    var id = $(this).find("div:first-child").attr("id");
                    
                    if( $(this).attr("class")!='cansel'){
                       $.post("/admin/pages/GetImageInfo/", {id: id},
                             function (data, textStatus) {
                               
                                 $("#imageText").val(data.data);

                                 $("#dialog").dialog({
                                     resizable: false,
                                     height: 400,
                                     width: 800,
                                     modal: true,
                                     buttons: {
                                         Spara: function () {
                                             $.post("/admin/pages/PutImageInfo", { id: id, text: $("#imageText").val() },
                                             function (data, textStatus) {
                                             });
                                             $(this).dialog("close");
                                         },
                                         Avbryt: function () {
                                             $(this).dialog("close");
                                         }
                                     }
                                 });
                             });
                }
                });
            });

            $(".cancel").each(function () {
                $(this).click(function () {
                    var o = $(this);
                    $.post("/admin/pages/deletefile", { id: $(this).attr("id") },
                       function (data, textStatus) {
                           o.parent(".uploadify-queue-item").fadeOut();
                           return false;
                    });
                });
            });
        };

        reload();
        $("#dialog").hide();

    });




</script>

<div id="dialog" title="Ändra redigera information">
   <textarea style="width: 100%; height: 100%" id="imageText"></textarea>
</div>

