﻿ @model dynamic

<div class="row">
    <div class="editor-label">
        @RC("CONTENT")
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(m=> m)
    </div>
</div>

<script type="text/javascript">

     $(document).ready(function () {
         $("#Html").tinymce({ 
             mode: "exact",
             // Location of TinyMCE script
             script_url: '/Scripts/jscripts/tiny_mce/tiny_mce.js',
            
             // General options
             theme: "advanced",
             plugins: "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,advlist",

             // Theme options
             theme_advanced_buttons1: "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect,fullscreen,template,link,image,code",
             //theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
             //theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
             //theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
             theme_advanced_toolbar_location: "top",
             theme_advanced_toolbar_align: "left",
             theme_advanced_statusbar_location: "bottom",
             theme_advanced_resizing: true,

             // Example content CSS (should be your site CSS)
             content_css: "/Themes/www/Styles/newwaveprofile.css",
             relative_urls: false,

             // Drop lists for link/image/media/template dialogs
             template_external_list_url: "/Scripts/jscripts/tiny_mce/templates.js",
             external_link_list_url: "lists/link_list.js",
             external_image_list_url: "lists/image_list.js",
             media_external_list_url: "lists/media_list.js",
             file_browser_callback: MediaManager
         });


         function MediaManager(field_name, url, type, win) {
                   tinyMCE.activeEditor.windowManager.open({
                        file : "/MediaManager/Browser",
                        title : "Mediahantering",
                        width : 800,
                        height : 500,
                        close_previous : 0,
                        resizable : 0,
                        inline : 1
                    }, {
                        window : win,
                        input : field_name
                    });
                return false;
          };
 



     });</script>