﻿@{
    ViewBag.Title = "AddNewUser";
}


<div class="section">
    <div class="box">
        <div class="title">
            Lägg till användare
            <span class="hide"></span>
        </div>
        <div class="content">

            
              <div class="row">
                <div class="editor-label">
                   Information
                </div>
                <div class="editor-field">
                   <b>För att skapa en ny användare, fyll i nödvändiga data och klicka på spara. Om du skall lägga till en användare i en ny grupp ange då gruppen med små bokstäver utan åäö och andra konstiga tecken.(Det skapas en ny mapp samtidigt som du sparar där tex. bilder kommer att hämtas ifrån.)</b>
                    <br />Markerade fält(grå) används för att skapa ny grupp.
                    <br /><br />
                </div>
             </div>

            

              <div class="row">
                <div class="editor-label">
                    <label>Skapa i grupp</label>
                </div>
                <div class="editor-field">
                    <select size="1" id="groups">
                        @GetDistinctCompanies()
                    </select>
                </div>
            </div>


            <div class="row"  style="background: #eee">
                <div class="editor-label" >
                    <label>Skapa ny grupp(utan åäö etc.)</label>
                </div>
                <div class="editor-field">
                  <input type="text" id="newGroup" name="newGroup" />
                </div>
            </div>


            
            <div class="row" style="background: #eee">
                <div class="editor-label">
                    <label>Företagsnamn(Om ny)</label>
                </div>
                <div class="editor-field">
                  <input type="text" id="CompanyName" name="CompanyName" />
                </div>
            </div>

            <div class="row"  style="background: #eee">
                <div class="editor-label">
                    <label>Använd standard logotyp</label>
                </div>
                <div class="editor-field">
                  <input type="checkbox" value="0"  /><br /><br />
                </div>
            </div>



              <div class="row">
                <div class="editor-label">
                    <label>Användarnamn(Epostadress)</label>
                </div>
                <div class="editor-field">
                  <input type="text" id="UserName" name="UserName" />
                </div>
            </div>


              <div class="row">
                <div class="editor-label">
                    <label>Temporärt lösenord</label>
                </div>
                <div class="editor-field">
                  <input type="text" id="Password" name="Password" />
                </div>
            </div>



        </div>
    </div>
</div>

<style>
    .w {
        width: 300px;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        try {
  
            $("#groups").addClass("w");
        } catch (e) { alert(e) }
    });


</script>

