﻿@model NWP.ViewModels.UserViewModel


<style>
    
        .listboxcontainer{
                float: left;
                padding: 3px;
        }
        .listboxcontainer select{
                width: 20em;
        }
        .listboxcontainer input[type="button"]{
               
        }
        .low{
                position: relative; 
                top: 10px;
        }
        .itemsToChoose, .itemsToAdd{
            width: 8em !important;
        }
</style>


<div class="section">
    <div class="box">
        <div class="title">
            @RC("Users")
            <span class="hide"></span>
        </div>
        <div class="content">


              <div class="row">
                <div class="editor-label">
                    &nbsp;
                </div>
                <div class="editor-field">
                    Klicka på en användare i listan då expanderas namn och lösenord, samt om en användare är aktiv samt visas också vilka roller användaren har i listan "Användarens roller".<br />
                    För att ändra roller, flytta roller mellar boxarna. Om du sparar utan att ange lösenord, påverkar detta inte användarens nuvarande lösenord.
                    <br /><br />
                        <b>Roller</b><br />
                        <ul>
                            <li>Admin : Administratörer i intranätet.</li>
                            <li>Users : Vanliga användare.</li>
                            <li>Webmaster: De som kan ändra/uppdatera användare för sitt företag.</li>
                            <li>Reseller : Återförsäljare</li>
                        </ul>
                    <a href="/admin/member/addnewuser">Skapa en ny användare</a>
                </div>
             </div>
               



            <div class="row">
                <div class="editor-label">
                    Roller
                </div>
                <div class="editor-field">
                     
            
                    <div class="listboxcontainer">        
                        <b>Tillgängliga roller</b><br />
                        <select name="itemsToChoose" class="multiple" id="available" size="8" multiple="multiple"></select>
                    </div>

                    <div class="low listboxcontainer"><br /><br />
                        <button name="available2added" type="button" class="blue"><span>>></span></button><br/>
                        <button name="added2available" type="button" class="blue"><span><<</span></button>
                    </div>

                  
                    <div class="listboxcontainer">
                        <b>Användarens roller</b><br />
                        <select name="itemsToAdd" id="added" class="multiple" size="8" multiple="multiple"></select>
                    </div>
                    <div class="clear"></div>
                        
                </div>
            </div>

                      
                        
            <div class="row">
                <div class="editor-label">
                    <label>Användare</label>
                </div>
                <div class="editor-field">
                    @Html.ListBox("Users", Model.GetAllUsers())
                    <span class="field-validation-valid" data-valmsg-for="ParentId" data-valmsg-replace="true"></span>
                </div>
            </div>
            
            <div id="userdetails">
                             
                <div class="row">
                    <div class="editor-label">
                        <label for="UserName">Användarnamn</label>
                    </div>
                    <div class="editor-field">
                        <input type="text" id="UserName" name="UserName" />
                        <span class="field-validation-valid" data-valmsg-for="ParentId" data-valmsg-replace="true"></span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="editor-label">
                        <label for="Password">Lösenord</label>
                    </div>
                    <div class="editor-field">
                        <input type="text" id="Password" name="Password" />
                        <span class="field-validation-valid" data-valmsg-for="ParentId" data-valmsg-replace="true"></span>
                    </div>
                </div>


                <div class="row">
                    <div class="editor-label">
                        <label for="Phone">Telefon</label>
                    </div>
                    <div class="editor-field">
                        <input type="text" id="Phone" name="Phone" />
                        <span class="field-validation-valid" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                    </div>
                </div>

               <div class="row">
                    <div class="editor-label">
                        <label for="CompanyName">Företagsnamn</label>
                    </div>
                    <div class="editor-field">
                        <input type="text" id="CompanyName" name="CompanyName" />
                        <span class="field-validation-valid" data-valmsg-for="CompanyName" data-valmsg-replace="true"></span>
                    </div>
                </div>


                 <div class="row">
                    <div class="editor-label">
                        <label for="Position">Position/Roll i företaget</label>
                    </div>
                    <div class="editor-field">
                        <input type="text" id="Position" name="Position" />
                        <span class="field-validation-valid" data-valmsg-for="Position" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="editor-label">
                        <label for="UserIcon">Profilbild</label>
                    </div>
                    <div class="editor-field">
                        <input type="text" id="UserIcon" name="UserIcon" />
                        <span class="field-validation-valid" data-valmsg-for="UserIcon" data-valmsg-replace="true"></span>
                    </div>
                </div>

               
                
                 <div class="row">
                    <div class="editor-label">
                        <label for="Active">Aktiv</label>
                    </div>
                    <div class="editor-field">
                        <input type="checkbox" id="active" name="Active" value="" />
                        <span class="field-validation-valid" data-valmsg-for="ParentId" data-valmsg-replace="true"></span>
                    </div>
                </div>
                

            </div><!--//userdetails-->
            
            <div class="row">
                <div class="editor-label">
                    &nbsp;
                </div>
                <div class="editor-field">
                    <button type="button" class="blue" id="save"><span>Spara</span></button>
                </div>
            </div>

            


        </div>
    </div>
</div>



<script type="text/javascript">




    $(function () {
        $(".low input[type='button']").click(function () {
            var arr = $(this).attr("name").split("2");
            var from = arr[0];
            var to = arr[1];
            $("#" + from + " option:selected").each(function () {
                $("#" + to).append($(this).clone());
                $(this).remove();
            });
        });
    })





    $(function () {


        

        $("#userdetails").hide();

        var roles = new Array();

        GetRoles();
        function GetRoles() {
            $.ajax({
                url: "/admin/member/getallroles/1",
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (data) {
                    $('#available').empty();
                    $('#added').empty();

                    $.each(data, function (val, text) {
                        $('#available').append(new Option(text, val));
                    });
                },
                error: function (error) {
                    //alert(error.responseText);
                }
            });
        }

        $("#save").click(function () {
            //Send?userid,roles
            var list = '&roles=';
            $("#added option").each(function () {
                list += $(this).text() + ';';
            });

            list = list.substring(0, list.length - 1);
            list += '&password=' + $("#Password").val();
            list += '&active=' + $('#active').prop('checked');
            list += '&companyname=' + $('#CompanyName').val();
            list += '&phone=' + $('#Phone').val();
            list += '&position=' + $('#Position').val();
            list += '&usericon=' + $('#UserIcon').val();

           
            var url = "/admin/member/saveuser/?id=" + $("#Users option:selected").val() + list;
   
            $.ajax({ url: url,
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (data) {
                    alert("Användaren är uppdaterad."); // Should be first roles in list
                    $("#Password").val('');
                },
                error: function (error) {
                 //alert(error.responseText);
                }
            });
        });


        $(".low button").click(function () {
            var arr = $(this).attr("name").split("2");
            var from = arr[0];
            var to = arr[1];
            $("#" + from + " option:selected").each(function () {
                $("#" + to).append($(this).clone());
                $(this).remove();
            });
        });

        $("#Users").change(function () {
            var current = $(this).val();
            GetRoles();
            $.ajax({
                url: "/admin/member/getroles/" + current,
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (data) {
                    $.each(data, function (val, text) {
                        $('#added').append(new Option(text, parseInt(val))); 
                        $('#available option:contains(' + text + ')').remove(); //Ta bort från tillgänglighetslistan.
                    });

             
                    $("#userdetails").slideDown('fast');
                    $("#UserName").val($("#Users option:selected").text());
                },
                error: function (error) {
                    //alert(error.responseText);
                }
            });


            $.ajax({
                url: "/admin/member/getuser/" + current,
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (data) {
                    var active = data.active;
                    $('#active').prop('checked', active);
                    $("#UserName").val(data.username)
                    $("#Phone").val(data.phone);
                    $("#CompanyName").val(data.companyname);
                    $("#Position").val(data.position);
                    $("#UserIcon").val(data.usericon);
                }
            });
        });

       
        $("#Users").attr("size", 15).css("width", "400px");

    });


   

</script>

