﻿@model NWP.Widgets.Campaign
@using System.Globalization

@{var pageid = Model.PageId.ToString(CultureInfo.InvariantCulture);}


<div class="section">
    <div class="box">
        <div class="title">
            @RC("Campaign")
            <span class="hide"></span>
        </div>
        <div class="content">

            @using (Html.BeginForm("SaveData", "Campaign"))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.WidgetId)
                @Html.HiddenFor(model => model.Domain)
                
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.PageId))
                    </div>
                    <div class="editor-field">
                        @Pages(Model.PageId)
                        @Html.ValidationMessageFor(model => model.PageId)
                    </div>
                </div>

                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Zone))
                    </div>
                    <div class="editor-field">
                        @Zones(pageid, Model.Zone)
                        @Html.ValidationMessageFor(model => model.Zone)
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.IsGlobal))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IsGlobal)
                        @Html.ValidationMessageFor(model => model.IsGlobal)
                    </div>
                </div>
                
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Active))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>
                </div>
                
                 <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.SortOrder))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.SortOrder)
                        @Html.ValidationMessageFor(model => model.SortOrder)
                    </div>
                </div>
                
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.StartDate))
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(x => x.StartDate, new { @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.StartDate)
                    </div>
                </div>
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.EndDate))
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(x => x.EndDate, new { @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.EndDate)
                    </div>
                </div>
  
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Title))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>
                 @Html.Partial("~/Views/Shared/EditorTemplates/Attachments.cshtml", Model)
    
                 @Html.EditorFor(m => m.Html, "HtmlEdit")
                 

              <input type="hidden" name="WidgetType" value="Campaign" />
              
                <div class="row">
                    <p>
                        <button type="button" onclick="document.location.href='/admin/campaign'"><span>Visa lista</span></button>
                        <button type="button" onclick="document.location.href='/admin/pages/edit/@Model.PageId'"><span>Gå till sida</span></button>
                        <button type="submit" class="blue"><span>@RC("Save")</span></button>
                    </p>
                </div>
            }
        </div>
    </div>
</div>
