﻿body 
{
    font: menu;
    color: #222;
    background: #eee url(/themes/admin/gfx/background.gif) repeat;
}


#wrapper.login {
	position: absolute;
	background : none;
	top: 50%;
	left: 50%;
	margin-top: -138px;
	margin-left: -200px;
	width: 400px;
	min-width : 400px;
	height: 276px;
	min-height : 0;
}


#wrapper.login .box,
#wrapper #container #right .section .box {
	display : block;
	background : #FFFFFF;
	border : 1px solid #e6e6e6;
	margin : 20px 20px 0 0;
	-moz-box-shadow: 1px 1px 0 #e6e6e6;
	-webkit-box-shadow: 1px 1px 0 #e6e6e6;
	box-shadow: 1px 1px 0 #e6e6e6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#e6e6e6')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#e6e6e6');
	zoom: 1;
}

#wrapper.login .box {
	margin : 0;
}


#wrapper.login .box .title,
#wrapper #container #right .section .box .title {
	display : block;
	position : relative;
	background : url(/themes/admin/gfx/box-title.gif) repeat-x left top;
	padding : 8px 10px 0 ;
	font : 13px/1.0em 'MuseoSans500', Arial;
	color : #000000;
	text-transform : uppercase;
	height : 21px;
}

#wrapper.login .box .title .hide,
#wrapper #container #right .section .box .title .hide,
#wrapper.login .box .title .show,
#wrapper #container #right .section .box .title .show{
	position : absolute;  
	top: 9px;
	right : 7px;
	background : url(/themes/admin/gfx/box-hide.png) no-repeat left top;
	overflow : hidden;
	cursor : pointer;
	width : 24px;
	height : 15px;
}

#wrapper.login .box .title .show,
#wrapper #container #right .section .box .title .show{
	background : url(/themes/admin/gfx/box-hide.png) no-repeat left bottom;
}

#wrapper.login .box .content,
#wrapper #container #right .section .box .content {
	display : block;
	background : url(/themes/admin/gfx/box-shadow.gif) repeat-x left top;
	padding : 20px;
}

.message {
	position : relative;
	display : inline-block;
	margin : 20px 20px 0 0;
	padding : 0 0 0 35px;
	clear : both;
	cursor : pointer;
	-moz-box-shadow: 1px 1px 0 #e6e6e6;
	-webkit-box-shadow: 1px 1px 0 #e6e6e6;
	box-shadow: 1px 1px 0 #e6e6e6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#e6e6e6')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#e6e6e6');
	zoom: 1;
}

.message:hover {
	opacity : 0.7;
	filter : alpha(opacity=70);
}

.message span {
	display : block;
	background : url(../gfx/system-icon.png) no-repeat 98% center;
	padding : 13px 0;
	font : 12px/1.0em Arial;
}

.message.inner {
	margin : 0 0 20px;
}

.message.blue {
	display : block;
	background : url(/themes/admin/gfx/icon-info.png) no-repeat 10px 8px #E9F3F8;
	border : 1px solid #BBD7E4;
	color : #136bc5;
}

.message.red {
	display : block;
	background : url(/themes/admin/gfx/icon-error.png) no-repeat 10px 8px #F8E9E9;
	border : 1px solid #E4BBBC;
	color : #b80000;
}



.row {
	display : block;
	position : relative;
	border-bottom : 1px solid #e5e5e5;
	padding : 10px 15px 10px 0;
	*padding : 9px 15px 9px 0;
}

.row:first-child {
	border-top : 1px solid #e5e5e5;
}

.row  label {
	position : absolute;
	top : 16px;
	left : 0;
	padding : 0;
	margin : 0;
	cursor : text;
	width : 200px;
}

.row .editor-field {
	display : block;
	margin : 0 0 0 200px;
}


.row  label {
	position : absolute;
	top : 16px;
	left : 0;
	padding : 0;
	margin : 0;
	cursor : text;
	width : 200px;
}

.row .right {
	display : block;
	margin : 0 0 0 200px;
}


.row .right input {
	display : inline-block;
	background : url(/themes/admin/gfx/input-back.gif) repeat-x left top;
	border : 1px solid #dcdcdc;
	outline : 0;
	padding : 5px;
	margin : 0;
	font : 12px/1.2em Arial;
	width : 100%;
	height : 15px;
}


button::-moz-focus-inner {border:0;padding:0;margin:0;}

button{
	display : inline-block;
	background : none;
	-moz-box-shadow: 1px 1px 0 #ededed;
	-webkit-box-shadow: 1px 1px 0 #ededed;
	box-shadow: 1px 1px 0 #ededed;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#ededed')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#ededed');
	border : 1px solid #d2d2d2;
	outline : none;
	padding : 0;
	margin : 0 0 1px 1px;
    overflow : visible;
	cursor : pointer;
	width : auto;
	height : 27px;
}

button:first-child{
	margin : 0 0 1px 0;
}

button:hover{
	opacity : 0.7;
	filter : alpha(opacity=70);
}

button span{
	display : block;
	background : url(/themes/admin/gfx/forms-btn.gif) repeat-x left top #FFFFFF;
	padding : 0 15px;
	margin : 0;
	font : 12px/25px Arial;
	font-weight : bold;
	letter-spacing : 0.08em;
	color : #7d7c7c;
	text-transform : uppercase;
	height : 25px;
}

button.blue {
	border : 1px solid #0049ac;
}

button.blue span {
	background : url(/themes/admin/gfx/forms-btn.gif) repeat-x left -75px #FFFFFF;
	color : #FFFFFF;
}