﻿@charset "UTF-8";
/* CSS Document */

/* new clearfix */
.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clear             { zoom: 1; } /* IE6 */
*:first-child+html .clear { zoom: 1; } /* IE7 */


* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

a:focus{outline: none;}

p{line-height: 18px;margin-top: 0px;}

h1, h2, h3, h4, h5{margin: 0px;padding: 0px;line-height: auto;}
h3{font-size: 14pt;}


hr 
{
    color: transparent;
    background-color: transparent;
    height: 1px;
    border-width: 1px;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
}

a{ text-decoration: none;}


/*body{margin: 0px;background: #222 url(images/page-bg.jpg) repeat-y top center; font-family: helvetica, Cambria, Georgia, serif; font-size: 12px;	line-height: 22px;color:#fff;}*/
body{margin: 0px;background: #f3f1ec;font-family: helvetica, Cambria, Georgia, serif; font-size: 12px;	line-height: 22px;color:#333333;}

#container{
    color:#333333;
	background: #fff;
	border: 1px solid #dcdcdc; 
	padding: 10px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    width: 1182px;
	margin: 10px auto;
    min-height: 700px;
}


#userbar {
    width: 1182px;
    height: 25px;
    text-align: right;
    margin: 5px auto;
    clear: both;
}

.notify {
   
    padding:2px 3px 1px 3px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:7pt;

    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius:2px;
    box-shadow:1px 1px 1px gray;
}


#footer{
    width: 1182px;
	margin: -25px auto;
    text-align: right;
}


.sidebar, .sidebarright{ width: 300px;float: left; min-height: 100%;}
.twoColumns{ float: left;width: 870px;margin-left: 10px;}
.threeColumns{ float: left;width: 560px;margin-right: 10px;margin-left: 10px;}

/*Timeline*/
#timeline {
	height:400px;
	position:relative;
	z-index:100;
	clear:both;
    margin-bottom: 10px;
}
.with-shadow {
	border: 1px solid #FFF;

	margin-top:5px;
	-webkit-border-radius: 10px;
	 -moz-border-radius: 10px;
		  border-radius: 10px;
	
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.25);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25);
		box-shadow: 1px 2px 6px rgba(0,0,0,.25);
}



#logo{ height: 100px;float: right; border: 0px !important;}
#logo a img{ border: none !important;}

/*Topmenu*/
#primary-menu {position:relative; float:left; top: 15px; padding:0; margin:0;  width:830px; z-index:300;margin-bottom: 15px;clear: left;}
#primary-menu ul { margin:0; padding:0; list-style:none; float:left;  overflow:visible; text-shadow:#fff 1px 1px 0px; }
#primary-menu li { display:inline; margin:0; padding:0; float:left; clear:none; }
#primary-menu li a { display:inline; float:left; clear:none; line-height:24px; margin:0; padding:9px 20px 1px 20px; min-height:50px; color:#333;  font-size:12px; font-weight:bold;text-decoration: none; }
#primary-menu li a span { color:#888; font-size:11px; display:block; line-height:1.0em; font-weight:normal;}
#primary-menu li.current-menu-item a, .current
#primary-menu li.current-menu-parent a, 
#primary-menu li.current-menu-ancestor a{ text-decoration:none;  border:none; margin:0; padding:9px 20px 0px 20px; box-shadow:none;}
#primary-menu li a:hover, 
#primary-menu li a.primary-active,
#primary-menu li.current-menu-item a:hover,
#primary-menu li.current-menu-parent a:hover, 
#primary-menu li.current-menu-ancestor a:hover{ text-decoration:none; background:#fff url(../images/primary-item-grad.png) repeat-x; color:#444;  -moz-border-radius:4px; -webkit-border-radius:4px; border:1px solid #fff;   padding:8px 19px 0px 19px; box-shadow: 0px 0px 2px #ccc;  margin:0;}

div#menu ul {
    margin: 0px; padding: 0px;
    list-style: none;
}

#menu {
    margin-bottom: 26px;
}

.submenu {width:270px; list-style-type:none; margin-bottom: 10px;}
.submenu li {height:36px; border-bottom: 1px solid #eee;border-top: 1px solid #fff;}
.submenu a {text-align: right; width:260px; height:36px; text-decoration:none; line-height: 36px; display:block !important; display:inline-block;}
    .submenu .current, .submenu li:hover {
        background: #fafafa;
    }

    .submenu li a:after {
      content:' \25A1';
      font-size: 15pt;
    }

    .submenu .current a:after {
        content:' \25B8';
        font-size: 11pt;
    }

.twocolumn .intro {
    min-height: 120px !important;
}

a{ color: #222;}

.intro
{
    position:relative;
    padding: 10px;
    min-height: 50px;
    color: #fff;
    margin-top: 10px !important;
    margin-bottom: 10px;
   
}

.headeritem
{
    position:relative;
    padding: 10px;
 
    color: #fff;
    margin-top: 0px !important;
    margin-bottom: 10px;
   background: #00aedb url(images/fade.png) top left no-repeat;
}


#sidebar .intro, #sidebarright .intro
{
    margin-top: 0px !important;

}
.intro a
{
    color: #fff;
    text-decoration: underline;
}
.intro h1
{
    font-size: 34px;
    float: none !important;
    margin: 0px !important;
}

.orangebox { background: #f68933 url(images/fade.png) top left no-repeat;}
.bluebox { background: #00aedb url(images/fade.png) top left no-repeat;}
.greenbox { background: #128468 url(images/fade.png) top left no-repeat;}
.graybox { background: #eee url(images/fade.png) top left no-repeat;color: #222;}
.yellowbox  { background: #50b948 url(images/fade.png) top left no-repeat;}
.lightgreenbox  { background: #b1d51a url(images/fade.png) top left no-repeat;}
.blackbox  { background: #000 url(images/fade.png) top left no-repeat;}


.userinfo
{
    width: 1180px;
    margin: 0 auto;
    text-align: right;
    margin-top: 0px;
    margin-bottom: -20px;
}
.userinfo h1{
    float: left;
}

#header h1 
{
    margin: 12px 15px;
    float: left;
    clear: right;
}

.newslist
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.newsteaser
{
    margin-top: 0px;
  
    min-height: 100px;
   
    margin-bottom: 10px;
}

.slide
{
    position:relative;
    padding: 10px;
     min-height: 100px;
    background: #ff6a00;
    color: #fff;
    margin-top: 10px;
  
}


.messagebox
{
    position:relative;
    padding: 10px;
     min-height: 100px;
    background: #eee;
    color: #222;
    margin-top: 10px;
    height: 200px !important;
}

.campaignbox 
{
    margin-top: 0px;
    padding: 10px;
     min-height: 100px;
    background: #128468 url(images/fade.png) top left no-repeat;
    color: #fff;
    margin-bottom: 10px;
}


.bluebox
{
    margin-top: 0px;
    padding: 10px;
     min-height: 100px;
    background: #00aedb url(images/fade.png) top left no-repeat;
    color: #fff;
    margin-bottom: 10px;
}


.campaignbox h1, 
.grapic h1, 
.agreements h1,
 .webshop h1,
 .bluebox h1
{
   
}


.black
{
    margin-top: 0px;
    padding: 10px;
     min-height: 100px;
    background: #000;
    color: #fff;
    margin-bottom: 10px;
}

.byb
{
    width: 281px;
    height: 101px;
    background: #000 url(images/byb.png) top right no-repeat;
    float: right;
    margin-bottom: 5px;
    clear: both;
}

.campaignbox a, 
.grapic a, 
.agreements a,
 .webshop a,
 .bluebox a
{
    color: white;
    text-decoration: underline;
}

.grapic
{
    margin-top: 0px;
    padding: 10px;
     min-height: 100px;
    background: #b1d51a url(images/fade.png) top left no-repeat;
    color: #fff;
    margin-bottom: 10px;
    
}

.agreements
{
    margin-top: 0px;
    padding: 10px;
     min-height: 100px;
    background: #ffd300 url(images/fade.png) top left no-repeat;
    color: #fff;
    margin-bottom: 10px;
}

.webshop
{
    margin-top: 0px;
    padding: 10px;
     min-height: 100px;
    background: #ff6a00 url(images/fade.png) top left no-repeat;
    color: #fff;
    margin-bottom: 10px;
}



.boxes{ width: 100%;}
.boxes .box{ width: 25%;float: left;min-height: 200px;}

.boxes .first{background: #128468;
-moz-border-radius: 0 0 0 4px;
    -webkit-border-radius: 0 0 0 4px;
    -khtml-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}
.boxes .second{background: #b1d51a;}
.boxes .third{background: #ffd300;}
.boxes .last{background: #ff6a00;
	-moz-border-radius:  0 0 4px 0;
    -webkit-border-radius: 0 0 4px 0;
    -khtml-border-radius:  0 0 4px 0;
    border-radius:  0 0 4px 0;

}


input[type=text], textarea{
	font-size: 7pt !important;
	padding: 3px;
	border:  solid 1px #BDC7D8;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	margin-bottom:6px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	margin-left:auto;
	margin-right:auto;
	margin-top:1px;
	text-align: left;
	
}


/*News list*/
#leftcol {
	width: 290px;
	
}

#leftcol h2{ padding-top: 5px;text-indent: 10px;}

#leftcol ul {
	margin:0;
	padding:0 0 0 0px;
}
#leftcol ul li {
	list-style: none;
	display: inline;
}
#leftcol p.next-prev {
	width: 100%;
	margin:0;
	padding:0;
	clear: both;
	text-align: center;
	padding: 0px 0 0 0;
}
#leftcol p.next-prev a {
	padding: 0 5px;
}
#leftcol .news {
	float: right;
	width:280px;
	margin:0 0px 0 0;
	text-align: left;
	height: 85px;
	border-bottom: 1px dotted #BBE0EB;
	padding: 5px 0 0 0;
}
* html #leftcol .news {
	height: 150px;
}
#leftcol .news p {
	float: left;
	margin:0 0 0 10px;
	width: 80%;
	font-size: 8pt;
	border-left: 1px dotted #BBE0EB;
	padding: 0 5px 0 12px;
}

#leftcol .news p.author {
	float: left;
	color: #3B5998;
	border: 0;
	padding: 3px 0 0 45px;
	margin:0;
	width: 82%;
}
#leftcol .news p.author a {
	color: #86d734;
	font-weight: normal;
}
#leftcol .news p.author a:hover {
	text-decoration: underline;
}
#leftcol .news p.author:hover {
	background: none;
}
#leftcol .news a {
	font-weight: bold;
	text-decoration: underline;
	color: #222;
}
#leftcol .news a.continue {
	font-weight: normal;
}
#leftcol .news a:hover {
	text-decoration: underline;
	color: #3B5998;
}
#leftcol .news strong {
	font-weight: normal;
}
#leftcol .news_date {
	float: left;

	text-align: center;
	margin:0;
	width: 23px;
	height: 27px;
}
#leftcol .news .month {
	float: left;
	width: 23px;
	color: #3B5998;
	clear: both;
}

#leftcol .news .day {
	float: left;
	width: 23px;
    font-size: 7pt;
	color: #3B5998;
}


/*Products*/


.shoplist
{
    margin-top: 10px;
}

.product
{
	float: left;
	width: 412px;
    height: 204px;
    border: 1px solid #eee;
    padding: 3px;
    margin: 5px;
}


.product .image
{
	float: left;
	width: 200px;
    height: 200px;
    border: 1px solid #eee;
    margin: 1px;
    margin-right: 5px !Important;
    background: transparent url(/themes/www/styles/images/produkt.jpg) no-repeat;
}

.product .text
{
	
    height: 130px;
  
}

.usercard
{
	
	margin-bottom:6px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	margin-left:auto;
    margin-top: 0px !important;
	margin-right:auto;
	text-align: left;  
}

.usercard h1
{
    margin-bottom:  10px;
}


.user-icon
{
    float: right;margin: 0px;
}

.usercard label
{
    font-weight: bold;
    float: left;
    width: 160px;
}

.infobox
{
    width: 98%;
    height: auto;
    min-height: 100px;
    border:  solid 1px #ccc;
    background: #fff;
    padding: 1px 5px;
}

.usercard textarea
{ 
    width: 100% !important;
    height: 80px !important;
    border:  solid 1px #ccc;
    background: #fff;
    padding: 3px;
    margin: 3px;
}

.usercard .big
{
    width: 400px !important;
    height: 80px !important;
    border:  solid 1px #ccc;
    background: #fff;
    padding: 3px;
    margin: 3px;
}

.messageitem img {
    float: left;
    margin-right: 6px;
}



.searchbox{
    border: 1px dashed #eee;
    background: #fefefe;
    padding: 10px;
    margin-bottom: 10px;
}
.searchbox input[type='text']
{
    width: 200px;
    height: 18px;
    padding: 3px;
    margin: 0px 3px;
}

.searchbox input[type='text']
{
    background: #eee;
    border: 1px solid #ccc;
}
.searchbox h2
{
    margin-left: 8px;
    margin-bottom: -15px !important;
}

.wide
{
    background: #fafafa;
    
    margin-left: 0px !important;
    border: 1px solid #eee !important;
    padding: 5px !important;
}
.wide b
{
    margin-left: 5px !important;
}

.wide input[type='text']
{
    width: 470px;
}
.count{
    width: 30px;
    text-align: center;
    float: left;
}

.count{
    font-size: 8pt;
    font-weight: bold;
    text-align: left;
    float: left;
    min-height: 30px;
    
    
}

.result{
    border-left: 1px dashed #ccc;
    float: left;
    padding-left: 10px;
}
.title{
    color: steelblue;
}
.resultitem a{
    color: teal;
    text-decoration: underline;
}

.resultitem{
    margin-bottom: 10px;
}


button::-moz-focus-inner {border:0;padding:0;margin:0;}


button{
	display : inline-block;
	background : none;
	-moz-box-shadow: 1px 1px 0 #ededed;
	-webkit-box-shadow: 1px 1px 0 #ededed;
	box-shadow: 1px 1px 0 #ededed;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#ededed')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#ededed');
	border : 1px solid #d2d2d2;
	outline : none;
	padding : 0;
	margin : 0 0 1px 1px;
    overflow : visible;
	cursor : pointer;
	width : auto;
	height : 27px;
}

button:first-child{
	margin : 0 0 1px 0;
}

button:hover{
	opacity : 0.7;
	filter : alpha(opacity=70);
}

button span{
	display : block;
	background : url(images/forms-btn.gif) repeat-x left top #FFFFFF;
	padding : 0 15px;
	margin : 0;
	font : 12px/25px Arial;
	font-weight : bold;
	letter-spacing : 0.08em;
	color : #7d7c7c;
	text-transform : uppercase;
	height : 25px;
}

button.blue {
	border : 1px solid #0049ac;
}

button.blue span {
	background : url(images/forms-btn.gif) repeat-x left -75px #FFFFFF;
	color : #FFFFFF;
}

#siteexplorer
{
    position: absolute;
    z-index: 100000;
    width: 250px;
    height: 350px;
    left: 20px;
    top: 20px;
    background: #222;
	color : #FFFFFF;
	zoom: 1;
	filter: alpha(opacity=98);
	opacity: 0.92;
}

#explorerhead
{
    margin: 6px;
    width: 98%;
    height: 20px;
    background: #222;
    cursor: move;
}

#explorerpanel
{
    padding: 6px;
    color: #fff;
}
.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.rc {
     -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

.pageedit a
{
    display: block;
    height: 24px;
    width: 24px;
    background: transparent url(images/page-edit-icon.png) no-repeat;
}

.link-list{
  background:#566381 url(denim2.jpg) repeat;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  width: 280px;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
}

.link-list dl{
  border: #fff dashed 2px;
  padding: 0;
  margin: 0;
}

.link-list dt{
  font-weight: bold;
  font-size: 1.2em;
  color: #FF8000;
  letter-spacing: .05em;
  padding: 10px 15px;
  margin:0;
  border-bottom: #fff dashed 2px;
}

.link-list dd{
  margin: 6px;
  font-size: 1em;
}

.link-list a{
  padding: 10px 15px;
  border: #BF6000 dashed 1px;
  color: #FF8000;
  display: block;
  text-decoration: none;
}

.link-list a:visited{
  color: #fff;
}

.link-list a:hover{
  border-color: #fff;
  color: #fff;
}

.link-list span{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: #fff;
}


.list-item{
    border-top: 1px solid #eee;
   
    clear: both !important;
}

.item{
    width: 70%;
    float: left;
}

.item-list{
    float: right;
    width: 25%;
    background: #fafafa;
    border: 1px solid #eee;
    padding: 2%;
    margin-top: 3px;
    	-moz-border-radius:  3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;

}

.item-title{
    font-weight: bold;
    margin-bottom: 3px;
    line-height: 10px;
}

.attachment{
    line-height: 16px;
    margin-bottom: 3px;

}

.attachment img{
    height: 16px;
    width: 16px;
    vertical-align: middle;
}


#topbar{width: 100%; height: 140px;}

#slider{
	width: 100%;height: 140px;
	margin-top: -100px;
	position: absolute;
	background: #fff url(images/menubar_bg.jpg) repeat-x bottom;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	z-index: 1200;
}

#topbarcontent{width: 1180px; margin: 0 auto;padding-top:10px}
#menubar{width: 1010px; margin: 0 auto;text-align: right; height:40px;text-decoration: none;color: #cecece;line-height: 0px;position:absolute;margin: 90px 0 0 0px;}


.indent{margin-left: 200px;padding-top:5px;height: 22px;}
.indent:hover{text-decoration: underline;}


.inputs{width: 98%;border: 1px solid #eee;padding: 10px;}
.inputs textarea{width: 96%;border: 1px solid #eee;padding: 10px;}
a img {
    border: none !important;
}

.imglist ul {
  
    padding: 0px;
    margin-left: 0px !important;
}

/*Image list*/
.imglist li img {
  float: left;
  margin: 0 0px 0 0;
}
 
.imglist li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
.imglist li {
  height: 36px;
  clear: both;
  list-style: none;
}
 
.imglist li:hover {
  background: #eee;
  cursor: pointer;
}


.listtem {
    width:100%;
    border-bottom: 1px dashed #eee;
}

.listimage {
    
    float: left;
   
}

.listimage img {
   
}

.listtext {
    float: left;
   
}

.date {
    float: right;
}

#images{
    padding:30px;
}
#images img{
    float:left;
    height:100px;
    margin:5px;
    padding:0px;
}
#ibox{
    position:absolute;
    overflow-y: none;
    background:#fff;
    border:1px solid #ccc;
    z-index:1001;
    display:none;
    padding:4px;
    -webkit-box-shadow: 0px 0px 6px 0px #bbb;
    -moz-box-shadow: 0px 0px 6px 0px #bbb;
    box-shadow: 0px 0px 6px 0px #bbb;
}
#ibox img{
    border:1px solid #444;
}
#ibox br{
    clear:both;
}

#listimg img {
	cursor: pointer;	
}
#large {
	display: none;
	position: absolute;		
	background: #FFFFFF;	
	padding: 5px;
	z-index: 10;
	min-height: 200px;
	min-width: 200px;
	color: #336699;
}
#background{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;	
	z-index: 1;
}


.ai {
    background:url(/Themes/www/Styles/Images/Icons/32px/ai.png) center right no-repeat;
    padding: 32px 32px 32px 0px;
    white-space:nowrap;
}

.eps {
    background:url(/Themes/www/Styles/Images/Icons/32px/eps.png) center right no-repeat;
    padding:32px 32px 32px 0px;
    white-space:nowrap;
}

.jpg {
    background-image: url(/Themes/www/Styles/Images/Icons/32px/jpg.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-position: center;
    text-align: center;
}

.zip {
    background-image: url(/Themes/www/Styles/Images/Icons/32px/zip.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-position: center;
    text-align: center;
}

.icon {
    text-indent: 40px;
}

.iconlist ul {
    list-style: none;
    margin: 0px;
     padding: 0px;
}

.iconlist li {
    width: 120px;
    height: 120px;
    float: left;
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px;
}

    .iconlist li:first-child {
        width: 405px;
    }

.newsimage {
    width: 130px;
    margin-right: 10px;
    float: left;
}

.attachment {
    border: 1px solid #eee;
    padding: 10px;
}



.fileName {
    margin-top: -20px !important;
}

.userlist {
    list-style: none;
    margin: 0px; padding: 0px;
}

    .userlist li {
        float: left; 
        border: 1px solid #eee;
        margin: 4px;
        height: 56px;
    }
    .userlist li:hover {
        background: #ccc;
    }

    .userlist li img {
        margin: 3px;
        width: 57px;
        height: 57px;
    }

/*
 Shop
*/

#wrap{ width:700px; height:900px;position:relative; bottom:0px;
  }
#wrap ul{ margin:0px; padding:0px; text-align:center }

#wrap ul li{ 
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
	border: 5px solid rgba(0,0,0,0.3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	
	/*background:url("bgs.png") repeat-x scroll;*/
	list-style-type:none; 
	height:150px; 
	width:160px; 
	margin-left:13px; 
	margin-bottom:15px; 
	float:left;
	padding:15px 0px 0px 0px;
	font-family:"LubalGraphBdBTBold",Tahoma;
	font-size:2em;
	overflow:hidden;
}

#wrap ul li div{ 

	height:25px;
	text-align:center;
	width:160px;
	margin-top:10px;
	position:relative;
	bottom:0px;
	padding-top:12px;
	padding-bottom:4px;
	background:#000;
	font: 11px Tahoma, Helvetica, Arial, Sans-Serif;
	opacity:0.8;
	color: #ccc;
	text-shadow: 0px 2px 3px #555;
}
img#cart
{ 
	bottom:0px;position:fixed; margin-left:30px; /* keep the bar on top  */
}

#wrap ul li { cursor:pointer;}


div#bottomBar {
  width:700px;
}

#left_bar 
{

	height:350px;
	position:fixed;
	padding:10px;
	/*-moz-background-clip: padding;   
	-webkit-background-clip: padding;  
	background-clip: padding-box;      
	border: 10px solid #006699;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px; */
}
em{ font-style:normal; }


.cart-total{ background:#E8E8E8}

.shopp,.cart-total{ 
	border:solid #ccc 1px; padding:8px; 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px; font-size:12px;
	background:url(../images/remove.png) center right no-repeat 5px;
	border-radius: 4px; 
	font-family:"LubalGraphBdBTBold",Tahoma; 
	margin-bottom:3px;
	width:260px;
	}
	
div.shopp span{  float:left;}	
div.shopp div.label{ width:130px; float:left; }		
div.shopp div.shopp-price{ width:70px; float:left;}
.quantity{ float:left; margin-top:-3px; width:20px;}
img.remove{float:right;cursor:pointer;}
.cart-total b{width:130px;}

#cart_form {
    margin-left: 20px;
}