﻿/*WALL*/


#wall {
	border: solid 1px #BDC7D8;
	margin-bottom:6px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	margin-left:auto;
	margin-right:auto;
	margin-top:1px;
	text-align: left;
	width:99%;
}

.Share.button, .Share.button:visited {
	background-color: #5B74A8;
	border-color: #29447E #29447E #1A356E;
	border:1px solid #999;

	color: #FFFFFF;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	width: 50px;
	padding: 5px;
	border : 0px;
	float:right;
	clear: both;
	
}
#sharebtn {
	padding: 7px 5px;
}

	.fb-wall{
		width:520px;
		line-height:1.2em;
		color:#333333;
		padding:10px;
		background-color:#FFF;}
		
	.fb-wall a, .fb-wall a img, #wall a img{
		text-decoration:none;
		border: none !important;
		color:#3B5998;
	}
		
		
	.fb-wall a:hover{
		text-decoration:underline;}
	
	.fb-wall.loading{
		height:300px;
		background:url(images/loader-small.gif) no-repeat center center;}
	
	.fb-wall-box{
		margin-bottom:10px;
		border-top:1px solid #eee;
		padding-top:10px;}
		
	.fb-wall-box-first{
		border:0;
		padding-top:0;}
		
	.fb-wall-avatar{
        width: 50px;
        height: 50px;
		float:left;
		border:0;}
		
	.fb-wall-data{
		margin-left:60px;}
		
	.fb-wall-media{
		display:block;
		font-size:11px;
		margin-bottom:5px;}
		
	.fb-wall-border-left{
		border-left:2px solid #CCCCCC;
		padding:0 0 3px 8px;}
		
	.fb-wall-media-container{
		display:table;}
		
	.fb-wall-media-link{
		border:1px solid #ccc;
		display:inline-block;
		color:#3B5998;
		cursor:pointer;
		float:left;
		margin-right:5px;}
		
	.fb-wall-media-link:hover{
		border:1px solid #3B5998;}
		
	.fb-wall-picture{
		margin-right:10px;
		border:0;
		display:block;
		margin:3px;}
		
	.fb-wall-name{
		display:block;
		font-weight:bold;
		color:#3B5998;}
		
	.fb-wall-caption{
		display:block;
		color:#3B5998;}
		
	.fb-wall-description{
		display:block;
		color:#777;
		line-height:1.2em;}
		
	.fb-wall-icon{
		float:left;
		margin-right:5px;}
		
	.fb-wall-date{
		font-size:11px;
		color:#777;
		clear:left;
		display:block;
		margin-bottom:5px;}
		
	.fb-wall-message{
		display:block;
		margin-bottom:5px;}
		
	.fb-wall-message-from{
		font-weight:bold;
		color:#3B5998;}
		
	.fb-wall-link{
		color:#333;
		font-size:11px;
		text-decoration:none;}

/* Likes*/
	
	.fb-wall-likes{
		border-bottom:1px solid #E5EAF1;
		margin-bottom:-2px;
		display:block;
		font-size:11px;
		background:url(images/like.gif) no-repeat 0 0 #FFF;
		padding-top:5px;}
		
	.fb-wall-likes div{
		margin:0;
		background:url(images/like.gif) no-repeat 0 -5px #EDEFF4;
		padding:5px 5px 4px 24px;}
		
	.fb-wall-likes div span{
		color:#3B5998;}

/* Comments */

	.fb-wall-comments{
		margin-top:2px;
		font-size:11px;}
	
	.fb-wall-comment{
		background-color:#EDEFF4;
		border-bottom:1px solid #E5EAF1;
		margin-top:2px;
		padding:5px 5px 4px;
		display:block;
		overflow:hidden;}
		
	.fb-wall-comment-message{
		display:table;}
		
	.fb-wall-comment-from-name{
		font-weight:bold;
		color:#3B5998;}
		
	.fb-wall-comment-from-date{
		color:#777;
		clear:left;
		display:block;}
		
	.fb-wall-comment-avatar{
		width:32px;
		height:32px;
		float:left;
		margin-right:5px;
		overflow:hidden;}
		
	.fb-wall-comment-avatar img{
		width:32px;
		height:32px;}
		
/* Clearfix */
		
	.fb-wall:after, .fb-wall-media:after, .fb-wall-clean{
		content:'.';
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
		font-size:0;
		line-height:0;}		
		
.commentbox{background-color:#eceff6;
		border:1px solid #d4dae8;padding: 6px 6px;}
		
.commentTxt{width: 98.2%;margin-bottom: 5px;}

.smallbutton{
	background-color: #5B74A8;
	border-color: #29447E #29447E #1A356E;
	border:1px solid #999;
	
	color: #FFFFFF;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	width: 50px;
	padding: 2px 4px;
	border : 0px;
	clear:both;
}

.commentbox .smallbutton{float: right;}

.hide{display:none;}



/*Notify design*/
.UIBeeper {
    width: 295px;
    left: 3px;
    bottom: 3px;
    
    z-index: 99;
  
}

    .UIBeeper .UIBeeper_Full {
        background-color: #E1E6EE;
        border: 1px solid #99A8C7;
        /*border-radius*/
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin: 0;
        padding: 3px;
        margin-bottom: 3px;
    }

        .UIBeeper .UIBeeper_Full:hover {
            /* change background color on mouseover */
            background-color: #CAD1DE;
        }

    .UIBeeper .UIBeep_Bottom {
        border-bottom: none;
    }

    .UIBeeper .UIBeep_Selected {
        background: #CAD1DE;
    }

    .UIBeeper .UIBeep_Top {
        padding-top: 0;
    }

    .UIBeeper .UIBeep_Bottom {
        padding-bottom: 0;
    }

.UIBeep {
    background: #E1E6EE;
    border-bottom: 1px solid #BFCADE;
    overflow: hidden;
    padding: 3px 0;
    clear: right;
}

a, a:hover {
    cursor: pointer;
    color: #3B5998;
    text-decoration: none;
}

.UIBeep .UIBeep_NonIntentional .UIBeep_Icon {
    float: left;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 5px 5px;
}

.UIBeep_Selected .UIBeep_Icon {
    margin-right: 2px;
}

.image2 {
    /* icon within the beeper */
    background-image: url(images/bubble.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.UIBeeper .UIBeep .UIBeep_NonIntentional .beeper_x {
    /* close button */
    float: right;
    height: 16px;
    width: 16px;
    margin-top: 6px;
    background: url(images/close.gif) no-repeat;
    visibility: hidden;
}

.UIBeep .beeper_x:hover {
    /* close button on mouseover */
    background: url(images/closehover.gif) no-repeat !important;
}

.UIBeep_Selected .beeper_x {
    display: block !important;
    visibility: visible !important;
    margin-left: 4px;
}

.UIBeep .UIBeep_NonIntentional .UIBeep_Title {
    margin: 0 20px 0 30px;
}

.UIBeep .UIBeep_Title {
    padding: 5px 0;
}


a.tooltip {
    outline: none;
}

    a.tooltip strong {
        line-height: 30px;
    }

    a.tooltip:hover {
        text-decoration: none;
    }

    a.tooltip span {
        z-index: 10;
        display: none;
        padding: 14px 20px;
        margin-top: -10px;
        margin-left: 10px;
        width: 240px;
        line-height: 16px;
    }

    a.tooltip:hover span {
        display: inline;
        position: absolute;
        color: #111;
        background: #fff;
        border: 1px solid #eee;
    }

.callout {
    z-index: 20;
    position: absolute;
    top: 30px;
    border: 0;
    left: -12px;
}
/*CSS3 extras*/

a.tooltip span {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 2px 2px 4px #CCC;
} 