﻿@model NWP.Widgets.PriceTableItem


<div class="section">
    <div class="box">
        <div class="title">
            @RC("PriceTable")
            <span class="hide"></span>
        </div>
        <div class="content">
            @using (Html.BeginForm("SaveObject", "PriceTable"))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.TrashBin)


                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Name))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                
               <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Url))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Url)
                        @Html.ValidationMessageFor(model => model.Url)
                    </div>
                </div>
                
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.ImageIcon))
                    </div>
                    <div class="editor-field">
                      
                       @ImageIcon(Model.ImageIcon)
                    
                    </div>
                </div>
               
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Active))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>
                </div>
                
                @Html.Partial("~/Views/Shared/EditorTemplates/Attachments.cshtml", Model)

                 <div class="row">
                    <p>
                        <button type="submit" class="blue"><span>@RC("Save")</span></button>
                        <button type="button" onclick="document.location.href='/admin/pricetable'"><span>Visa lista</span></button> 
                        <button type="button" onclick="document.location.href='/admin/pricetable/CreateItem/@Model.PriceTable.WidgetId'"><span>Skapa ny fil i samma samling</span></button>
                        <button type="button" onclick="document.location.href='/admin/pricetable/nextitem/@Model.Id'"><span>Nästa</span></button> 
                    </p>
                </div>
            }
        </div>
    </div>
</div>
