﻿@using System.Globalization
@model NWP.Models.Page
@using (Html.BeginForm("SaveData", "Pages", FormMethod.Post, new { @class="valid"}))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.PageId)
    @Html.HiddenFor(model => model.Domain)
    <div class="section">
        <div class="box">
            <div class="title">
                Redigera sida: @Model.MetaTitle
                <span class="hide"></span>
            </div>
            <div class="content nopadding">
                <div class="tabs">
                    <div class="tabmenu">
                        <ul>
                            <li><a href="#tabs-1">Status</a></li>
                            <li><a href="#tabs-2">Mallar</a></li>
                            <li><a href="#tabs-3">SEO</a></li>
                            <li><a href="#tabs-4">Layout</a></li>
                            <li><a href="#" class="submit">@RC("Save")</a></li>
                        </ul>
                    </div>
                    <div class="tab" id="tabs-1">
                        @Html.HiddenFor(model => model.Created)
                        <div class="row">
                            <div class="editor-label">
                                @RC(Html.LabelFor(model => model.StartDate))
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(x => x.StartDate, new { @class = "datepicker" })
                                @Html.ValidationMessageFor(model => model.StartDate)
                            </div>
                        </div>
                        <div class="row">
                            <div class="editor-label">
                                @RC(Html.LabelFor(model => model.EndDate))
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(x => x.EndDate, new { @class = "datepicker" })
                                @Html.ValidationMessageFor(model => model.EndDate)
                            </div>
                        </div>
                        <div class="row">
                            <div class="editor-label">
                                @RC(Html.LabelFor(model => model.Active))
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Active)
                                @Html.ValidationMessageFor(model => model.Active)
                            </div>
                        </div>
                        <div class="row">
                            <div class="editor-label">
                                @RC(Html.LabelFor(model => model.Visible))
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Visible)
                                @Html.ValidationMessageFor(model => model.Visible)
                            </div>
                        </div>
                        <div class="row">
                            <div class="editor-label">
                                @RC(Html.LabelFor(model => model.IsGlobal))
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.IsGlobal)
                                @Html.ValidationMessageFor(model => model.IsGlobal)
                            </div>
                        </div>
                    </div>
                    <div class="tab" id="tabs-2">
                        <div class="row">
                            <div class="editor-label">
                                @RC(Html.LabelFor(model => model.Layout))
                            </div>
                            <div class="editor-field">
                                @PageLayouts(Model.PageId, Model.Layout)
                                @Html.ValidationMessageFor(model => model.Layout)
                            </div>
                        </div>
                        <div class="row">
                            <div class="editor-label">
                                @RC(Html.LabelFor(model => model.ParentId))
                            </div>
                            <div class="editor-field">
                                @ParentPages(Model.ParentId)
                                @Html.ValidationMessageFor(model => model.ParentId)
                            </div>
                        </div>
                        <div class="row">
                            <div class="editor-label">
                                @RC(Html.LabelFor(model => model.Position))
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Position)
                                @Html.ValidationMessageFor(model => model.Position)
                            </div>
                        </div>
                    </div>
                    <div class="tab" id="tabs-3">
                        
                        <div class="row">
                            <div class="editor-label">
                                @RC(Html.LabelFor(model => model.Title))
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Title, new { @class = "{validate:{required:true, messages:{required:'Ange en titel'}}}" }) 
                                @Html.ValidationMessageFor(model => model.Title)
                            </div>
                        </div>

                        <div class="row">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Route)
                            </div>
                            <div class="editor-field">
                                @if(Model.PageId==1)
                                {
                                    @Html.EditorFor(model => model.Route)
                                }else{
                                    @Html.TextBoxFor(model => model.Route, new { @class = "{validate:{required:true, messages:{required:'Ange en url'}}}" })
                                }    
                                @Html.ValidationMessageFor(model => model.Route)
                            </div>
                        </div>
                        <div class="row">
                            <div class="editor-label">
                                @RC(Html.LabelFor(model => model.SubText))
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.SubText)
                                @Html.ValidationMessageFor(model => model.SubText)
                            </div>
                        </div>
                        <div class="row">
                            <div class="editor-label">
                                @RC(Html.LabelFor(model => model.MetaTitle))
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.MetaTitle)
                                @Html.ValidationMessageFor(model => model.MetaTitle)
                            </div>
                        </div>
                        <div class="row">
                            <div class="editor-label">
                                @RC(Html.LabelFor(model => model.MetaDescription))
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.MetaDescription)
                                @Html.ValidationMessageFor(model => model.MetaDescription)
                            </div>
                        </div>
                        <div class="row">
                            <div class="editor-label">
                                @RC(Html.LabelFor(model => model.MetaKeyWords))
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.MetaKeyWords)
                                @Html.ValidationMessageFor(model => model.MetaKeyWords)<br/>
                                <button type="submit" class="blue"><span>Spara</span></button>
                            </div>
                        </div>
                    </div>
                    
                  
                    <input type="hidden" name="tab" id="tab" value="@Session["pagetab"]" />
                    <div class="tab" id="tabs-4">
                        
                        @Html.Partial("WidgetControls") 
                        <div id="workarea">
                            @ParseLayouts(Model.PageId)
                            <div class="clear"></div>
                        </div>
                    </div>

                </div>
                
                    <link rel="stylesheet" type="text/css" href="/themes/admin/Scripts/WidgetAdmin/wadmin.css" />
                    <script type="text/javascript" src="/themes/admin/Scripts/WidgetAdmin/jquery-ui-1.8.11.custom.min.js"></script>
                    <script type="text/javascript" src="/themes/admin/Scripts/WidgetAdmin/jquery.mjs.nestedSortable.js"></script>
                    <script type="text/javascript" src="/themes/admin/Scripts/WidgetAdmin/wadmin.js"></script>
 
            </div>
        </div>
    </div>
}
