﻿@{
    ViewBag.Title = "Pages";
    Layout = "~/Views/Shared/_Layout.Admin.cshtml";
}
<a href="/admin/pages/AddPage">Skapa ny sida</a>
<div class="section">
	<div class="box">
		<div class="title">
			Sidstruktur
			<span class="hide"></span>
		</div>
        <div class="content">
            
            <table cellspacing="0" cellpadding="0" border="0" class="all"> 
                <thead> 
                    <tr>
                        <th>Titel</th>
                        <th>Aktiv</th>
                        <th>Skapad</th>
                        <th>Sortering</th>
                        <th>Redigera</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach(var item in Model)
                    {
                        var pageid = @item.PageId + "#tab=3";
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Active</td>
                            <td>@item.Created</td>
                            <td>@item.Position</td>
                            <td><a href="/admin/pages/edit/@pageid">Redigera</a>  <a href="/admin/pages/delete/@pageid" class="deleteLink">Radera</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
	</div>
</div>
