﻿@model NWP.Registration.Models.ProfileViewModel
@using System.Web.Helpers

@using (Html.BeginForm("Upload", "Profile", FormMethod.Post, new { @encType = "multipart/form-data" }))    
{        
    if (Model.ImageUrl != null)        
    {    
        
        <img src="@Model.ImageUrl"  style="width:100px;height:100px"/>  <br />      
    } else{
        <h2>Bild</h2>
        <p>För att vi skall få ett så levande intranet som möjligt ber vi dig ladda upp en bild på dig själv. <br />
         Du kommer också att få möjlighet att ändra i bilden så snart du laddat upp den.</p>
    }         
    <input type="file" name="Image" /> 

    <input type="submit" name="submit" value="Upload" />     
}