﻿@model NWP.Widgets.NewsList

<div class="section">
    <div class="box">
        <div class="title">
            Sidstruktur
            <span class="hide"></span>
        </div>
        <div class="content">

            @using (Html.BeginForm("SaveData", "NewsList")) {
                @Html.ValidationSummary(true)
              
                    <div class="editor-label">
                        @Html.LabelFor(model => model.WidgetId)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WidgetId)
                        @Html.ValidationMessageFor(model => model.WidgetId)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.PageId)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.PageId)
                        @Html.ValidationMessageFor(model => model.PageId)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Zone)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Zone)
                        @Html.ValidationMessageFor(model => model.Zone)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.IsGlobal)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IsGlobal)
                        @Html.ValidationMessageFor(model => model.IsGlobal)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Domain)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Domain)
                        @Html.ValidationMessageFor(model => model.Domain)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Title)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Created)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Created)
                        @Html.ValidationMessageFor(model => model.Created)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Active)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SortOrder)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.SortOrder)
                        @Html.ValidationMessageFor(model => model.SortOrder)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.TrashBin)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.TrashBin)
                        @Html.ValidationMessageFor(model => model.TrashBin)
                    </div>
                
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NewsListId)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.NewsListId)
                        @Html.ValidationMessageFor(model => model.NewsListId)
                    </div>
                
                

                    <p>
                        <input type="submit" value="Save" />
                    </p>
               
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>

