﻿@using System.Text
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout." + SettingsService.AdminTheme + ".cshtml";
}

	<div class="btn-box">
        <div class="content left" style="text-align:left">
            
            <a href="#" class="item">
                <img src="/themes/admin/gfx/dashboard.png" alt="Kontrollpanel" />
                <span>@RC("Dashboard")</span>
                Kontrollpanel startsida
            </a>
            			

            <a href="/admin/pages" class="item">
                <img src="/themes/admin/gfx/sitemap.png" alt="Sidor" />
                <span>@RC("Pages")</span>
                Redigera sidor
            </a>
            
            
             <a href="/admin/member" class="item">
                <img src="/themes/admin/gfx/users.png" alt="Administrera medlemmar" />
                <span>@RC("Users")</span>
                Medlemmar
            </a>
            
            
            <a href="/admin/trash" class="item">
                <img src="/themes/admin/gfx/trash.png" alt="Hjälp" />
                <span>@RC("Trash")</span>
                Återställ/Radera
            </a>
            
            
            <a href="/admin/stats" class="item">
                <img src="/themes/admin/gfx/statics.png" alt="Statik" />
                <span>@RC("Stat")</span>
                Se sidstatistik
            </a>	

					
            <a href="/admin/support" class="item">
                <img src="/themes/admin/gfx/support.png" alt="Hjälp" />
                <span>@RC("Support")</span>
                Hj&auml;lp &amp; support.
            </a>

            <a href="/admin/order" class="item">
                <img src="/themes/admin/gfx/database.png" alt="Ordrar" />
                <span>@RC("Ordrar")</span>
                Hj&auml;lp &amp; support.
            </a>
					
	
        </div>
</div>




<div class="btn-box">
    <div class="content left" style="text-align:left">
        <h2 style="margin: 10px 0px 10px 10px;">Widgets</h2>     
     @{
               var list = Model.DashboardIcons;
  
                foreach(var item in list)
                {
                    if (string.IsNullOrEmpty(item.Icon)){continue;}
                    var icon = @item.Icon + ".png";
                    var name = RC(item.GetType().Name);
                    <text>
                    <a href="/admin/@item.GetType().Name.ToLower()" class="item">
                        <img src="/themes/admin/gfx/@icon" alt="@name" />
                        <span>@name</span>
                        Gå till @name
                    </a>
                    </text>
                }
    }
    </div>
</div>




<div class="section">

    <div class="third">
        <div class="section">
            <div class="box">
                <div class="title">
		            Admin
		            <span class="hide"></span>
	            </div>
	            <div class="content">
                    Nuvarande tema: @SettingsService.AdminTheme
                    <br />
                    Antal inloggade användare: @Membership.GetNumberOfUsersOnline()
                </div>        
            </div>
        </div>
    </div>


    <div class="third">
        <div class="section">
            <div class="box">
                <div class="title">
		            Logg
		            <span class="hide"></span>
	            </div>
	            <div class="content">
                    @LogFile()
                </div>        
            </div>
        </div>
    </div>


        <div class="third">
        <div class="section">
            <div class="box">
                <div class="title">
		            Support
		            <span class="hide"></span>
	            </div>
	            <div class="content">
                    Ring Poolia
                </div>        
            </div>
        </div>
    </div>

</div>
