﻿@model NWP.Widgets.Campaign

<div class="group"></div>

<style>

    .tablerow {
        width: 98%;
        float: left;
        border-top: 1px solid #eee;
        padding: 1%;
    }
    .cell {
        width: 68%;
        float: left;
    }
   .files {
        width: 29%;
        padding-left: 1%;
        float: left;
        border-left: 1px solid #ccc;
    }
</style>

            <div class="tablerow">
                <div class="cell">
                    <b>@Model.Title</b>  <em><small>( @Convert.ToDateTime(Model.StartDate).ToShortDateString() )</small></em> <br />
                    @ToHtml(Model.Html)
                </div>
                <div class="files">
                     @foreach (var item in NWP.Models.AttachmentList.GetList(Model.AttachementListId).Items){        
                        <div class="attachment">@ImageExtPublic(item.FilePath, item.FileName, item.Id.ToString())</div>}
                </div>
                <div class="group"></div>
            </div>
