﻿@model NWP.Widgets.Comments


<div class="inputs">
    <h2>@Model.Title</h2>
    <p>@ToHtml(Model.Html)</p>
    <div class="addcomment">
        <b>Meddelande</b><br />
        <textarea class="txtLarge" id="txtComment"></textarea><br />
        <button id="btnCreateComment"><span>Skicka</span></button>
    </div>
</div>

<div class="group"></div>
<br />
<b>@Model.GetItems().Count() Kommentarer till &#8220;@Model.Title&#8221;</b><br />

    @{    
        var list = Model.GetItems();
        var c = 0;
        foreach(var item in list)
        {
            var img = item.UserId + ".jpg";
           
            if(c==0){
               <span class="fb-wall-likes"></span>
            }      
            c++;
               
       
        <span class="fb-wall-comment">
            <a href="/personlig-sida?user=@item.UserId" class="fb-wall-comment-avatar">
                <img src="/themes/www/styles/images/users/@img" alt="" width="50" height="50" />
            </a>
            <span class="fb-wall-comment-message">
		        <a class="fb-wall-comment-from-name" href="/personlig-sida?user=@item.UserId">@GetUserNameById(item.UserId)</a>
                <p>@item.Message</p>
                <span class="fb-wall-comment-from-date">@Convert.ToDateTime(Model.Created).ToLongDateString()</span>
            </span>
        </span>
        }
}








