﻿@model NWP.Widgets.ContentBox
<div class="boxes">
    <div class="box first">@Model.HtmlOne</div>
    <div class="box second">@Model.HtmlTwo</div>
    <div class="box third">@Model.HtmlThree</div>
    <div class="box last">@Model.HtmlFour</div>
    <div class="clear"></div>
</div>
 <div class="clear"></div>
