﻿@using NWP.Widgets
@model NWP.Widgets.Links
<h1>@RC("Links")</h1>
@ToHtml(Model.Html)

@if(Model.Alternate){

<table class="all">
    <thead>
        <tr>
            <th>Länknamn</th>
            <th>Användare</th>
            <th>Lösenord</th>
        </tr>
    </thead>
        <tbody>
            @foreach (var item in Model.GetItems()){
            <tr>
                <td><a href="@item.Url" target="_blank">@item.Name</a></td><td>@item.UserName</td><td>@item.Password</>
            </tr>}
        </tbody>
</table>
}else{
    
    <table class="all">
    <thead>
        <tr>
            <th>Typ</th>
            <th>Länknamn</th>
        </tr>
    </thead>
        <tbody>
            @foreach (var item in Model.GetItems()){
            <tr>
                <td><img src="@item.ImageIcon" style="width: 16px;height: 16px;" alt="" /></td><td><a href="@item.Url" target="_blank">@item.Name</a></td>
            </tr>}
        </tbody>
</table>

}
          