﻿@model NWP.Widgets.List

@ToHtml(Model.Html)


<style>

    .medialist {
        list-style: none;
        padding: 0px; 
        margin: 0px;
        width: 100%;
    }

        .medialist li {
            float: left;
            padding: 10px;
            margin: 5px;
            border: 1px solid #eee;
            width: 97.2%;
           
        }

        .medialist a {
             display: block;
        }

            .medialist li:hover {
                background: #fafafa;
                
            }
</style>

<ul class="medialist">
 @foreach (var item in NWP.Models.AttachmentList.GetList(Model.AttachementListId).Items.OrderBy(f=> f.FileName))
 {
     if (!string.IsNullOrEmpty(item.Html))
     {
          <li><b>@item.Html</b><br /><a href="/admin/pages/download?pathCode=@item.FilePath">@item.FileName</a></li>
     }else{
        <li><a href="/admin/pages/download?pathCode=@item.FilePath">@item.FileName</a></li>
    }
 }
</ul>
