﻿@model NWP.Widgets.Login
          
<div id="loginform">
    
    <p id="error" style="display:none;color:Red;"></p>
    @Html.ValidationSummary("Kunde inte logga in. Se över dina uppgifter och försök igen.")

    @using (Html.BeginForm())
    { 
        <div>
                <p> @
                    <label for="username">Användarnamn:</label>
                    @Html.TextBox("username")
                    @Html.ValidationMessage("username")
                </p>
                <p>
                    <label for="password">Lösenord:</label><br />
                    @Html.Password("password")
                    @Html.ValidationMessage("password")
                </p>
                <p>
                    @Html.CheckBox("rememberMe") <label class="inline" for="rememberMe">Kom ihåg mina uppgifter?</label>
                </p>
                <p>
                    <input id="logon" type="button" value="Logga in" />
                </p>
            
        </div>
    }
  </div>
    
    <script type="text/javascript">
        $(function () {
            $("#logon").click(function () {
                $("#error").text('').hide();
                $.get('http://localhost:7777/SSOService.svc/user/Login?callback=?',
    				{ username: $("#username").val(), password: $("#password").val() },
    				function (ssodata) {
    				    if (ssodata.LoginResult.Status == 'DENIED') {
    				        $("#error").text('Kunde inte logga in!').show();
    				    } else {
    				        // redirect to authentication page instead of duplicating code here
    				        document.location = '@Url.Action("Authenticate", "Account")';
    				    }
    				    // make sure to tell jQuery this is a JSONP call
    				}, 'jsonp');
            });
        });
    </script>
