﻿@model NWP.Widgets.Medias

<h3>Medlemslogotyper &amp; Grafiska filer</h3>
<p>Nedan hittar du alla filer som relaterar till din profil. Klicka på respektive fil för att ladda ner den.</p>
<hr />

<div class="imglist">
  <ul>
        @ToHtml(Model.LoadFile())

        @foreach (var item in NWP.Models.AttachmentList.GetList(Model.AttachementListId).Items)
        {
        <li>
          @ImageExtPublic(item.FilePath, item.FileName, item.Id.ToString())
        </li>
        }

  </ul>
</div>

<br />
<h3>Andra grafiska element</h3>
<p>Alla filera här under är transporterade till vektorformat och är tillgängliga som Illustratorfiler(.AI), alternativt Postscriptformat(.EPS).<br />Klicka på respektive fil för att ladda ner den.</p>
<hr />



<br />
<div class="iconlist">
    <ul>
        <li>@CompanyLogo()</li>
        @ToHtml(Model.LoadCommon())
    </ul>
</div>



