﻿@using NWP.Widgets
@model NWP.Widgets.NewsTeaser

<div id="leftcol" class="newsteaser">
    <h1>@RC("News")</h1>
    <ul>
        @{
            foreach (var item in Model.GetNewsFrom(Model.ShowWidgetFromNewsList).GetAllItemsSortedByDateDescending())
            {
                <li class="news">
                    <span class="news_date"><strong><span class="month">@item.StartDate.ToString("MMM").ToUpper()</span> <span class="day">@item.StartDate.ToString("dd")</span></strong></span>
                    <p><a href="/nyheter?m=@Model.ShowWidgetFromNewsList&id=@item.Id&@item.Title">@item.Title</a> @Html.Raw(item.Teaser)</p>
                    <p class="author">@item.Created</p>
                </li>}
        }
    </ul>
    <div class="clear"></div>
</div>