﻿@using NWP.Widgets
@model NWP.Widgets.NewsList
@{
    string list = string.Empty;    
}

<h1>@Model.Title</h1>
    @{
        if(!string.IsNullOrEmpty(Request.Params["m"]))
        {
            var current = Model.GetCurrentItem(Convert.ToInt32(Request.Params["m"]), Convert.ToInt32(Request.Params["id"]));
               <div class="listtem" rel="/admin/news/EditItem/@current.Id">
                    <div class="listimage">
                         @if(!string.IsNullOrEmpty(current.AttachementListId))
                           {
                             foreach (var item in NWP.Models.AttachmentList.GetList(current.AttachementListId).Items){
                                if(item.ContentType == NWP.Models.ContentType.JPEG)
                                {
                                 <a href="@UrlToRelative(item.FilePath)"><img class="newsimage" src="@UrlToRelative(item.FilePath)" alt="" rel="@Model.Title" /></a>
                                 }
                                 list += "<a href='/Pages/Download?pathCode=" + UrlToRelative(item.FilePath) + "'>"+ item.FileName + "</a><br/>";
                                
                             }
                           }
                        
                    </div>
                    <div class="listtext">
                         <h1>@current.Title</h1>
                         @ToHtml(current.Html)
                    </div>
                    <div class="clear"></div>

                     @if (list!="")
                     {
                    <div class="date attachment">
                        <b>Bifogade filer</b><br />@ToHtml(list)
                    </div>
                     }
                    <div class="clear"></div>
                    <div class="date">(c) Publicerad @current.Created.ToShortDateString() av @GetUserNameById(current.Owner)</div>
                    <div class="clear"></div>
                </div>  
        }
        else
        {
            var current = Model.GetLatestItem(1);
                <div class="listtem" rel="/admin/news/EditItem/@current.Id">
                    <div class="listimage">
                         @if (!string.IsNullOrEmpty(current.AttachementListId))
                         {
                             foreach (var item in NWP.Models.AttachmentList.GetList(current.AttachementListId).Items)
                             {
                                 if (item.ContentType == NWP.Models.ContentType.JPEG)
                                 {
                                  <a href="@UrlToRelative(item.FilePath)"><img class="newsimage" src="@UrlToRelative(item.FilePath)" alt="" rel="@Model.Title" /></a>
                                  }
                                  list += "<a href='" + UrlToRelative(item.FilePath) + "'>"+ item.FileName + "</a><br/>";
                              
                             }
                         }
                    </div>
                    <div class="listtext">
                         <h1>@current.Title</h1>
                         @ToHtml(current.Html)
                    </div>
                    <div class="clear"></div>
                      @if(list!=""){
                    <div class="date attachment">
                        <b>Bifogade filer</b><br />@ToHtml(list)
                    </div>
                     }
                    <div class="clear"></div>
                    <div class="date attachment">(c) Publicerad @current.Created.ToShortDateString() av @GetUserNameById(current.Owner)</div>
                     <div class="clear"></div>
                </div>
        }
  }





   <div id="large"></div>
<div id="background"></div>
<script>
    jQuery.fn.center = function () {
        this.css("position", "absolute");
        this.css("top", ($(window).height() - this.height()) / 2 + $(window).scrollTop() + "px");
        this.css("left", ($(window).width() - this.width()) / 2 + $(window).scrollLeft() + "px");
        return this;
    }
    $(document).ready(function () {
        $(".listimage img").click(function (e) {
            $("#background").css({ "opacity": "0.7" })
							.fadeIn("slow");
            $("#large").html("<img src='" + $(this).parent().attr("href") + "' alt='" + $(this).attr("alt") + "' /><br/>" + $(this).attr("rel") + "")
					   .center()
					   .fadeIn("slow");
            return false;
        });

        $(document).keypress(function (e) {
            if (e.keyCode == 27) {
                $("#background").fadeOut("slow");
                $("#large").fadeOut("slow");
            }
        });

        $("#background").click(function () {
            $("#background").fadeOut("slow");
            $("#large").fadeOut("slow");
        });

        $("#large").click(function () {
            $("#background").fadeOut("slow");
            $("#large").fadeOut("slow");
        });
    });
 </script>