﻿@using NWP.Widgets
@model NWP.Widgets.News

<div id="leftcol" class="newsteaser">
    <a href="/nyheter" style="color: #222"><h2>@Model.Title</h2></a>
    <ul>
        @{
            foreach (var item in Model.GetItemsByTake(3)){
                <li class="news">
                    <span class="news_date"><strong><span class="month">@item.StartDate.ToString("MMM").ToUpper()</span> <span class="day">@item.StartDate.ToString("dd")</span></strong></span>
                    <p><a href="/nyheter?m=@Model.WidgetId&id=@item.Id&@item.Title">@item.Title</a> @Html.Raw(item.Teaser)</p>
                    <p class="author">@item.Created</p>
                </li>}
        }
    </ul><a class="indent" href="/nyheter">Läs fler nyheter</a>
    <div class="clear"></div>
</div>