﻿@using NWP.Widgets
@model NWP.Widgets.PriceTable
<h1>@RC("PriceTable")</h1>
@ToHtml(Model.Html)
<table class="all">
    <thead>
        <tr>
            
            <th>Prislista</th>
        </tr>
    </thead>
        <tbody>
            @foreach (var item in Model.GetItems())
            {
              foreach (var file in NWP.Models.AttachmentList.GetList(item.AttachementListId).Items)
              {
                <tr>
                    <td class="header">@ImageExtPublic(file.FilePath, file.FileName, file.Id.ToString())</td>
                </tr>
              }
            
            }
        </tbody>
</table>
         