﻿@model NWP.Widgets.SearchPublic
@{
    var count = 0;
    bool shortCut = true;
    string land = "";
    try
    {
        land = Model.SearchResultPage;
        shortCut = Model.ShortCut;
    }
    catch
    { }
    var isadmin = HttpContext.Current.Request.Path.Contains("/admin");
}

 <!--Admin can't contain any forms, its hase to be removed.-->

@if (!isadmin) 
{
   
    if (shortCut)
    {
    
        <form action="@land" method="GET">
            <div class="searchbox">
                <h2>Sök</h2><br/>
                <input type="text" name="content" id="content" /><button type="submit" id="searchButton" class="blue"><span>Sök</span></button>
            </div>
        </form>
    }
    else
    {
        <form action="@land" method="GET">
            <div class="searchbox wide">
                <h4>Sök</h4><br/>
                <input type="text" name="content" id="content" /><button type="submit" id="searchButton" class="blue"><span>Sök</span></button>
            </div>
        </form>

        try
        {
            var type = string.Empty;
            var results = string.Empty;
            foreach (var s in Model.SearchFor(Request["content"]))
            {
                if (type != s.TableType){
                    results += "<br/><h3>"+RC(s.TableType)+"</h3><br/>";
                }

                results += string.Format("<div class='resultitem'><div class='count'>{4}</div><div class='result'><div class='title'>({3}) -{0}</div>{1}<br/><a href='{2}'>{2} </a><em><b> Publicerad:</b> {5}</em> <b>av:</b> <em>{6}</em></div><div class='clear'></div></div><div class='clear'></div><hr/>", s.Title, s.Content, s.Url, RC(s.TableType), count + 1, s.Created, GetUserNameById(s.Owner));
                type = s.TableType;
                count++;
            }
    
                <h2>Sökresultat</h2>
                <p>Din sökning på "@Request["content"]" resulterade i (@count) resultat.</p>
                <hr/>
                @ToHtml(results)
        }
        catch { }

    }
}
else
{
    
   <div class="searchbox">
        <b>Sök</b><br/>
        <input type="text" name="content" id="content" /><button type="submit" id="searchButton" class="blue"><span>Sök</span></button>
    </div>
}
