﻿@using NWP.Widgets
@model NWP.Widgets.Shop


@if (User.IsInRole("admin"))
{
    
    
    
    
        <div id="main threeColumns">
        <div id="sidebar" class="sidebar">
        <b>Kategorier</b>	
	    </div> 
        
        <div id="content" class="threeColumns">

	
	<div id="wrap">
		
		<ul>
            
                    @{
                        foreach (var item in Model.ShopItems.Cast<ShopItem>())
                        {
                           if(!string.IsNullOrEmpty(item.AttachementListId))
                           {
                             foreach (var att in NWP.Models.AttachmentList.GetList(item.AttachementListId).Items){
                                 if (att.ContentType == NWP.Models.ContentType.JPEG || att.ContentType == NWP.Models.ContentType.PNG)
                                {
                                 <li id="@item.Id"><img class="newsimage" style="width: 100px;height: 100px;" src="@UrlToRelative(att.FilePath)" alt="" rel="@Model.Title" /><br clear="all" />
                                    <div><span class="name">@item.Title: Price</span>: Sek<span class="price">@item.Price</span> </div>
                                 </li>
                                }
                            
                             }
                           }
                        }
                    }

			
			
			
		</ul>

        </div>
		
		
	
	
        </div>

        <div id="sidebarright" class="sidebarright">
           
                <form action="#" id="cart_form" name="cart_form">
		            <div class="cart-info"></div>	
		            <div class="cart-total">
		                <b>Totalt:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> sek:<span>0</span>
                        <input type="hidden" name="total-hidden-charges" id="total-hidden-charges" value="0" />
		            </div>
		            <button type="submit" class="button" id="Submit"><span>Skicka order</span></button>
		        </form>
            
        </div>
        <div class="clear group"></div>
    </div>
	

		
		
	

    
<script src="/Themes/www/Scripts/jquery.live.js"></script>   
<script type="text/javascript">

$(document).ready(function() {
	
	var Arrays=new Array();
	
	$('#wrap li').mousemove(function(){
		
		var position = $(this).position();
		
		$('#cart').stop().animate({
																									
				left   : position.left+'px',
				
			},250,function(){
			
		});			
	}).mouseout(function(){
		
	});	
	
	$('#wrap li').click(function(){
		
		var thisID = $(this).attr('id');
		
		var itemname  = $(this).find('div .name').html();
		var itemprice = $(this).find('div .price').html();
			
		if(include(Arrays,thisID))
		{
			var price 	 = $('#each-'+thisID).children(".shopp-price").find('em').html();
			var quantity = $('#each-'+thisID).children(".shopp-quantity").html();
			quantity = parseInt(quantity)+parseInt(1);
			
			var total = parseInt(itemprice)*parseInt(quantity);
			
			$('#each-'+thisID).children(".shopp-price").find('em').html(total);
			$('#each-'+thisID).children(".shopp-quantity").html(quantity);
			
			var prev_charges = $('.cart-total span').html();
			prev_charges = parseInt(prev_charges)-parseInt(price);
			
			prev_charges = parseInt(prev_charges)+parseInt(total);
			$('.cart-total span').html(prev_charges);
			
			$('#total-hidden-charges').val(prev_charges);
		}
		else
		{
			Arrays.push(thisID);
			
			var prev_charges = $('.cart-total span').html();
			prev_charges = parseInt(prev_charges)+parseInt(itemprice);
			
			$('.cart-total span').html(prev_charges);
			$('#total-hidden-charges').val(prev_charges);
			
			$('#sidebarright .cart-info').append('<div class="shopp" id="each-' + thisID + '"><div class="label">' + itemname + '</div><div class="shopp-price"> <em>' + itemprice + 'kr</em></div><span class="shopp-quantity">1</span><img src="/themes/www/styles/images/remove.png" class="remove" /><br class="all" /></div>');
			
			$('#cart').css({'-webkit-transform' : 'rotate(20deg)','-moz-transform' : 'rotate(20deg)' });
		}
		
		setTimeout('angle()',200);
	});	
	
	
	$('.remove').livequery('click', function() {
		
		var deduct = $(this).parent().children(".shopp-price").find('em').html();
		var prev_charges = $('.cart-total span').html();
		
		var thisID = $(this).parent().attr('id').replace('each-','');
		
		var pos = getpos(Arrays,thisID);
		Arrays.splice(pos,1,"0")
		
		prev_charges = parseInt(prev_charges)-parseInt(deduct);
		$('.cart-total span').html(prev_charges);
		$('#total-hidden-charges').val(prev_charges);
		$(this).parent().remove();
		
	});	
	
	$('#Submit').livequery('click', function() {
		
		var totalCharge = $('#total-hidden-charges').val();
		
		$('#sidebarright').html('Totalt: sek:' + totalCharge);
		
		return false;
		
	});	
	
});

function include(arr, obj) {
  for(var i=0; i<arr.length; i++) {
    if (arr[i] == obj) return true;
  }
}
function getpos(arr, obj) {
  for(var i=0; i<arr.length; i++) {
    if (arr[i] == obj) return i;
  }
}
function angle(){$('#cart').css({'-webkit-transform' : 'rotate(0deg)','-moz-transform' : 'rotate(0deg)' });}

</script>
    
           
}







