﻿@model NWP.Widgets.Suppliers

<table cellspacing="0" cellpadding="0" border="0" class="all"> 
    <thead>
        <tr>
            <th>Företagsnamn</th>
            <th>Kontaktperson</th>
            <th>Adress</th>
            <th>Telefon</th>
            <th>E-post</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GetAllSuppliers()){
        <tr>
            <td class="header"><b>@item.Company</b></td>
            <td>@item.Contact</td>
            <td>@item.Address @item.Zip @item.City</td>
            <td>@item.Phone </td>
            <td><a href="mailto:@item.Email">@item.Email</a></td>
        </tr>
    }
        </tbody>
</table>