﻿@using System.Globalization
@using System.Text
@using System.Threading
@using NWP.Widgets
@model NWP.Widgets.Timeline

<!-- BEGIN TimelineJS -->
<script src="/Scripts/TimeLine/js/storyjs-embed.js"></script>
<script>
    $(document).ready(function () {
      

        createStoryJS({
            type: 'timeline',
            width: '100%',
            height: '400',
            source: '/timeline/gettimelinejs?pageid=@Model.PageId',
            embed_id: 'timeline',
            start_at_slide: '@Model.GetClosestDate(Model.PageId)',
            start_zoom_adjust: '1',
            lang: "sv",
            debug: true,
            font: "PTSerif-PTSans"
        });
    });
</script>
<!-- END TimelineJS -->
<div id="timeline"></div>


