﻿@using System.Globalization
@using System.Text
@using System.Threading
@using NWP.Widgets
@model NWP.Widgets.Timeline
@{    
    var timestart = Model.TimelineStartDateScreen;
    var timebegin = Model.TimelineBeginsDate;
    var mainh = Model.MainHeadline;
    var maintext = Model.MainHeadlineText;

    var tm = DateTime.Parse(timestart);
    var tmyear = tm.Year;
    var tmmonth = tm.Month;
    var tmdate = tm.Day;

    var timestartdate = string.Format("{0},{1},{2}", tmyear, tmmonth, tmdate);

    var bm = DateTime.Parse(timebegin);
    var bmyear = bm.Year;
    var bmmonth = bm.Month;
    var bmdate = bm.Day;

    var timeenddate = string.Format("{0},{1},{2}", bmyear, bmmonth, bmdate);
    
    var sb = new StringBuilder();
    foreach(var item in Model.TimelineEvents)
    {
        var e = (TimelineEvent) item;
        if (!e.Active){ continue;}
        sb.Append("<li>");
        sb.Append("<time>"  +e.EventDate.Year +","+ e.EventDate.Month +","+ e.EventDate.Day + "</time>");
        sb.Append("<time>"  +e.EndEventDate.Year +","+ e.EndEventDate.Month +","+ e.EndEventDate.Day + "</time>");
        sb.Append("<h3>"+e.Title+"</h3>");
        sb.Append("<article>" + e.Html + "</article>");
        sb.Append("</li>\n");
    }
    var events = new HtmlString(sb.ToString());
    }

<link href="/scripts/timeline/timeline.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/Scripts/timeline/timeline.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var timeline = new VMM.Timeline();
        
       
        if (typeof VMM != 'undefined') {
         
            VMM.Language = {
                lang: "sv",
                api: {
                    wikipedia: "sv"
                },
                date: {
                    month: ["Januari", "Februari", "Mars", "April", "Maj", "Juni", "Juli", "Augusti", "September", "Oktober", "November", "December"],
                    month_abbr: ["Jan.", "Feb.", "Mars", "April", "Maj", "Juni", "Juli", "Aug.", "Sept.", "Okt.", "Nov.", "Dec."],
                    day: ["Måndag", "Tisdag", "Onsdag", "Torsdag", "Fredag", "Lördag", "Söndag"],
                    day_abbr: ["Mån.", "Tis.", "Ons.", "Tor.", "Fre.", "Lör.", "Sön."]
                },
                dateformats: {
                    year: "yyyy",
                    month_short: "mmm",
                    month: "mmmm yyyy",
                    full_short: "mmm d",
                    full: "mmmm d',' yyyy",
                    time_no_seconds_short: "h:MM TT",
                    time_no_seconds_small_date: "h:MM TT'<br/><small>'mmmm d',' yyyy'</small>'",
                    full_long: "mmm d',' yyyy 'at' h:MM TT",
                    full_long_small_date: "h:MM TT'<br/><small>mmm d',' yyyy'</small>'"
                },
                messages: {
                    loading_timeline: "Laddar tidslinjen... ",
                    return_to_title: "Tillbaka till start",
                    expand_timeline: "Expandera tidslinjen",
                    contract_timeline: "Minska tidslinjen",
                    wikipedia: "From Wikipedia, the free encyclopedia",
                    loading_content: "Laddar innehåll",
                    loading: "Laddar"
                }
            }
        }

        timeline.init();


    });
    setTimeout(function () {
        Cufon.replace("#timeline section h2");
        Cufon.replace("#timeline section h3");
    }, 2000);
</script>
<div id="timeline">
    <section>	
        <time>@timestartdate</time> <!-- Timeline Start Screen -->
        <time>@timeenddate</time>   <!-- Timeline Begins Date -->
        <h2>@mainh</h2>	            <!-- Main Headline -->
        <article>					<!-- Main Text -->
            <p>@maintext</p>
        </article>
    </section>             
    <ul>         
        <!-- Events -->
        @events
        <!-- / Events -->
    </ul>
</div>
<script type="text/javascript">
    setTimeout(function () {
        Cufon.replace("#timeline section h2");
        Cufon.replace("#timeline section h3");
    }, 3000);
</script>
