﻿@model NWP.Widgets.Wall

  <!--LOGG-->
    <div class="commentbox">
    <h3>Diskutera</h3>
    <p>Skriv ditt inlägg här!</p>
    <textarea id="wall" title="Skriv något" class="defaultText"></textarea>
    <div id="sharebtn"> <a class="button Share blue" style="" id="shareButton" onclick="$.share()"> Skicka</a> <div class="fb-wall-clean"></div></div>
    </div>                  
    <div id="thewall"></div>
    <div class="fb-wall-clean"></div>         
<!--End LOGG-->

