﻿@model NWP.Widgets.Supplier
<div class="section">
    <div class="box">
        <div class="title">
            Redigera leverantör: @Model.Title
            <span class="hide"></span>
        </div>
        <div class="content">
            @using (Html.BeginForm("SaveIt", "Suppliers"))
            {
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Created)

                <div class="row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Title)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>
                @Html.EditorFor(m => m.Html, "HtmlEdit")
    
             
                <div class="row">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Active)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>
                </div>
                <p>
                    <button type="submit">
                        <span>@RC("Save")</span></button>
                </p>
                <div>
                    @Html.ActionLink("Tillbaka", "Index")
                </div>
            }
        </div>
    </div>
</div>
