﻿@model NWP.Widgets.Suppliers
<div class="section">
    <div class="box">
        <div class="title">
            @RC("Suppliers")
            <span class="hide"></span>
        </div>
        <div class="content">

            @using (Html.BeginForm("SaveData", "Suppliers"))
            {
                @Html.ValidationSummary(true);
                @Html.HiddenFor(model => model.WidgetId);
                Html.HiddenFor(model => model.Domain);

                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.PageId))
                    </div>
                    <div class="editor-field">
                        @Pages(Model.PageId)
                        @Html.ValidationMessageFor(model => model.PageId)
                    </div>
                </div>

                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Zone))
                    </div>
                    <div class="editor-field">
                        @Zones(Model.PageId, Model.Zone)

                        @Html.ValidationMessageFor(model => model.Zone)
                    </div>
                </div>
    
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.IsGlobal))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IsGlobal)
                        @Html.ValidationMessageFor(model => model.IsGlobal)
                    </div>
                </div>
    
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Active))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>
                </div>

 
    
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Title))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>
    
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Html))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Html)
                        @Html.ValidationMessageFor(model => model.Html)
                    </div>
                </div>
    
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Company))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Company)
                        @Html.ValidationMessageFor(model => model.Company)
                    </div>
                </div>
    
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Contact))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Contact)
                        @Html.ValidationMessageFor(model => model.Contact)
                    </div>
                </div>
    
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Address))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Address)
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                </div>
    
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Zip))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Zip)
                        @Html.ValidationMessageFor(model => model.Zip)
                    </div>
                </div>
    
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.City))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.City)
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                </div>
    
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Phone))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Phone)
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>
                </div>
    
    
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Email))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
  
                @Html.HiddenFor(model => model.Created)
    
    
   
                <input type="hidden" name="WidgetType" value="Suppliers" />
                     <div class="row">
                    <p>
                        <button type="submit" class="blue"><span>@RC("Save")</span></button>
                        <button type="button" onclick="document.location.href='/admin/suppliers'"><span>Visa lista</span></button>
                    </p>
                </div>
            }
        

        </div>
    </div>
</div>
