﻿<div class="section">
	<div class="box">
		<div class="title">
			@RC("Suppliers")
			<span class="hide"></span>
		</div>
		<div class="content">
			<table cellspacing="0" cellpadding="0" border="0" class="all"> 
				<thead> 
					<tr>
						<th>@RC("Title")</th>
						<th>@RC("Zone")</th>
						<th>@RC("Global")</th>
                        <th>@RC("Page")</th>
                        <th>@RC("Edit")</th>
					</tr>
				</thead>
				<tbody>
                @foreach(var item in Model){
					<tr>
						<td>@item.Title</td>
						<td>@item.Zone</td>
                        <td>@item.IsGlobal.ToString()</td>
                        <td>@GetPageName(item.PageId)</td>
                        <td><a href="/admin/suppliers/edit/@item.WidgetId">Redigera</a> <a class="deleteLink" href="/admin/suppliers/delete/@item.WidgetId">Radera</a> <a href="/admin/suppliers/Copy/@item.WidgetId">Kopiera</a></td>
					</tr>
                }
				</tbody>
			</table>
		</div>
	</div>
</div>
