﻿@import url("/themes/admin/styles/style.css");
@import url("/themes/admin/styles/forms.css");
@import url("/themes/admin/styles/forms-btn.css");
@import url("/themes/admin/styles/menu.css");
@import url('/themes/admin/styles/style_text.css');
@import url("/themes/admin/styles/datatables.css");
@import url("/themes/admin/styles/fullcalendar.css");
@import url("/themes/admin/styles/pirebox.css");
@import url("/themes/admin/styles/modalwindow.css");
@import url("/themes/admin/styles/statics.css");
@import url("/themes/admin/styles/tabs-toggle.css");
@import url("/themes/admin/styles/system-message.css");
@import url("/themes/admin/styles/tooltip.css");
@import url("/themes/admin/styles/wizard.css");
@import url("/themes/admin/styles/handheld.css");



	
#wrapper {
	width : auto;
	min-width : 980px;
	max-width : 90%;
}

#workarea {
    width: 100%;
    min-height: 100px;
    clear: both;
}

.workitem 
{
    width: 200px;
    border: 1px dashed #eee;
    padding: 10px;
    margin: 10px;
    float: left;
}

.menubar {
    display : block;
	background : url(../gfx/tabs.gif) repeat-x left top;
	margin : 20px 0;
	height : 30px;
    margin-bottom: 0px !important;
}

.menubar ul li a {
	float : left;
	padding : 6px 10px 5px;
	font : 12px/1.6em Arial;
	color : #999999;
	text-decoration : none;
	outline : none;
}

.list {
    display: none;
}

.sublist th {
    background: #fafafa;
    padding:10px;
    border: 1px solid #eee;
}

.zone{ border: 2px dashed #eee !important;}
.widget{ background: #fff;overflow: hidden;}



td .filem
{
    width: 64px !important;
    height: 68px !important;
  
    display: block; background:url(../gfx/normal_folder.png) no-repeat left center;
    text-decoration: none;
}



td span.folder
{
    line-height: 118px;
    text-align: center;
    display: block;
    
}

.uploadify-queue-item .green {
    background : url(../gfx/btn-info.gif) no-repeat left -40px;
   width: 20px;
   margin-left: 3px;
   margin-bottom: 3px;
   text-align: center;
}