#calendar {
	position: relative;
}

.fc td{
	vertical-align : top;
}

.fc-header {
	background : url(../gfx/box-shadow.gif) repeat-x right top;
	border-bottom : 1px solid #E6E6E6;
	overflow : hidden;
	height : 36px;
}

.fc-header-left {
	display : block;
	padding : 7px 20px 0;
	text-align : left;
}

.fc-header-left .fc-button {
	margin : 0 3px 0 0;
}

.fc-button-next {
	float : right;
}

.fc-header-right .fc-button {
	margin : 0 0 0 3px;
}

.fc-header-center {
	position: relative;
	top: -26px;
	margin : 0 auto;
	text-align : center;
	width : 50%;
}

.fc-header-right {
	position : absolute;
	top : -26px;
	right : 33px;
	text-align : right;
}

.fc-header-title {
	display : inline-block;
	vertical-align : top;
}

.fc-header-title h2 {
	padding : 9px 20px 0;
	font-size : 14px;
}

.fc .fc-header-space {
	padding-left : 10px;
}

.fc-header .fc-corner-right {
	margin-right : 1px;
}

.fc-header .ui-corner-right {
	margin-right : 0;
}

.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
	z-index : 2;
}

.fc-header .fc-state-down {
	z-index : 3;
}

.fc-header .fc-state-active,
.fc-header .ui-state-active {
	z-index : 4;
}

/* Content
------------------------------------------------------------------------*/

.fc-content {
	padding : 18px 20px 20px;
	clear : both;
}

.fc-view {
	width : 100%;
	overflow : hidden;
}

/* Cell Styles
------------------------------------------------------------------------*/

.fc-widget-content { 
	border : 1px solid #E5E5E5;
}

.fc-state-highlight {
	background : #efefef;
}

.fc-cell-overlay {
	background: #9cf;
	opacity: .2;
	filter: alpha(opacity=20);
}

/* Buttons
------------------------------------------------------------------------*/

.fc-button {
	position : relative;
	display : inline-block;
	border : 1px solid #E5E5E5;
	cursor : pointer;
}

.fc-button-inner {
	position : relative;
	float : left;
	overflow : hidden;
}

.fc-state-default .fc-button-inner {
	border : none;
}

.fc-button-content {
	position : relative;
	float : left;
	font : 12px/1.8em 'MyriadProRegular', Arial;
	padding : 0 8px;
	white-space : nowrap;
	height : 1.8em;
}

.fc-header-left .fc-button-content {
	font : 12px/1.9em 'MyriadProRegular', Arial;
	padding : 0 2px;
}

.fc-button-content .fc-icon-wrap {
	position : relative;
	float : left;
	top : 50%;
}

.fc-button-content .ui-icon {
	position : relative;
	float : left;
	margin-top : -50%;
	*margin-top : 0;
	*top : -50%;
}

.fc-state-default .fc-button-effect {
	position : absolute;
	top : 50%;
	left : 0;
}

.fc-state-default .fc-button-effect span {
	position : absolute;
	top : -100px;
	left : 0;
	width : 500px;
	height : 100px;
	opacity : .09;
	filter : alpha(opacity=9);
}

.fc-state-default,
.fc-state-default .fc-button-inner {
	background : #FFFFFF;
	color : #989898;
}

.fc-state-hover,
.fc-state-hover .fc-button-inner {
	color : #1c1c1c;
}

.fc-state-active,
.fc-state-active .fc-button-inner {
	background : #EFEFEF;
	color : #1c1c1c;
}

.fc-state-disabled,
.fc-state-disabled .fc-button-inner {
	color : #999;
}

.fc-state-disabled {
	cursor : default;
}

.fc-state-disabled .fc-button-effect {
	display : none;
}

/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event {
	padding : 1px 5px;
	font-size : 11px;
	cursor : default;
}

a.fc-event,
.fc-event-draggable {
	cursor : pointer;
}

a.fc-event {
	text-decoration : none;
}

.fc-rtl .fc-event {
	text-align : right;
}

.fc-event-skin {
	border-color : #1c1c1c;
	background-color : #1c1c1c;
	color : #fff;
}

.fc-event-inner {
	position : relative;
	border-style : solid;
	border-width : 0;
	overflow : hidden;
	width : 100%;
	height : 100%;
}

.fc-event-time{
	padding : 0 5px 0 0;
}

.fc .ui-resizable-handle {
	display : block;
	position : absolute;
	z-index : 99999;
	overflow : hidden;
	font-size : 300%; 
	line-height : 50%;
}

/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
	border-width : 1px 0;
	margin-bottom : 1px;
}

/* resizable */

.fc-event-hori .ui-resizable-e {
	top : 0 !important;
	right : -3px !important;
	width : 7px !important;
	height : 100% !important;
	cursor : e-resize;
}

.fc-event-hori .ui-resizable-w {
	top : 0 !important;
	left : -3px !important;
	width : 7px !important;
	height : 100% !important;
	cursor : w-resize;
}

.fc-event-hori .ui-resizable-handle {
	_padding-bottom : 14px;
}

/* Fake Rounded Corners (for buttons and events)
------------------------------------------------------------*/

.fc-corner-left {
	margin-left : 1px;
}

.fc-corner-right {
	margin-right : 1px;
}

.fc-corner-top {
	margin-top : 1px;
}

.fc-corner-top .fc-event-inner {
	margin-top : -1px;
}

.fc-corner-bottom {
	margin-bottom : 1px;
}

.fc-corner-bottom .fc-event-inner {
	margin-bottom : -1px;
}

/* Fake Rounded Corners SPECIFICALLY FOR EVENTS
-----------------------------------------------------------------*/

.fc-corner-left .fc-event-inner {
	border-left-width : 1px;
}

.fc-corner-right .fc-event-inner {
	border-right-width : 1px;
}

.fc-corner-top .fc-event-inner {
	border-top-width : 1px;
}

.fc-corner-bottom .fc-event-inner {
	border-bottom-width : 1px;
}



/* Reusable Separate-border Table
------------------------------------------------------------*/

table.fc-border-separate {
	border-collapse: separate;
}

.fc-border-separate th,
.fc-border-separate td {
	border-width : 1px 0 0 1px;
}

.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
	border-right-width : 1px;
}

.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
	border-bottom-width : 1px;
}

.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
	border-top-width : 0;
}

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
	text-align : center;
}

.fc-grid .fc-day-number {
	float : right;
	padding : 0 2px;
}

.fc-grid .fc-other-month .fc-day-number {
	opacity : 0.3;
	filter : alpha(opacity=30);
}

.fc-grid .fc-day-content {
	clear : both;
	padding : 2px 2px 1px;
}

.fc-grid .fc-event-time {
	font-weight : bold;
}

.fc-rtl .fc-grid .fc-day-number {
	float : left;
}

.fc-rtl .fc-grid .fc-event-time {
	float : right;
}

/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
	border-collapse : separate;
}

.fc-agenda-days th {
	text-align : center;
}

.fc-agenda .fc-agenda-axis {
	width : 50px;
	padding : 0 4px;
	vertical-align : middle;
	text-align : right;
	white-space : nowrap;
	font-weight : normal;
}

.fc-agenda .fc-day-content {
	padding : 2px 2px 1px;
}

.fc-agenda-days .fc-agenda-axis {
	border-right-width : 1px;
}

.fc-agenda-days .fc-col0 {
	border-left-width : 0;
}

.fc-agenda-allday th {
	border-width : 0 1px;
}

.fc-agenda-allday .fc-day-content {
	min-height : 34px;
	_height : 34px;
}

.fc-agenda-divider-inner {
	height : 2px;
	overflow : hidden;
}

.fc-widget-header .fc-agenda-divider-inner {
	background : #eee;
}

.fc-agenda-slots th {
	border-width : 1px 1px 0;
}

.fc-agenda-slots td {
	border-width : 1px 0 0;
	background : none;
}

.fc-agenda-slots td div {
	height : 20px;
}

.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
	border-top-width : 0;
}

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
	border-top-style : dotted;
}

.fc-agenda-slots tr.fc-minor th.ui-widget-header {
	*border-top-style : solid;
}

/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
	border-width: 0 1px;
}

.fc-event-vert .fc-event-head,
.fc-event-vert .fc-event-content {
	position : relative;
	z-index : 2;
	width : 100%;
	overflow : hidden;
}

.fc-event-vert .fc-event-time {
	white-space : nowrap;
	font-size : 10px;
}

.fc-event-vert .fc-event-bg {
	position : absolute;
	z-index : 1;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	background : #fff;
	opacity : .3;
	filter : alpha(opacity=30);
}

.fc .ui-draggable-dragging .fc-event-bg,
.fc-select-helper .fc-event-bg {
	display : none\9;
}

.fc-event-vert .ui-resizable-s {
	bottom : 0        !important;
	width : 100%      !important;
	height : 8px      !important;
	overflow : hidden !important;
	line-height : 8px !important;
	font-size : 11px  !important;
	font-family : monospace;
	text-align : center;
	cursor : s-resize;
}

.fc-agenda .ui-resizable-resizing {
	_overflow : hidden;
}