.ui-dialog {
	position : absolute;
	background : #FFFFFF;
	border : 1px solid #e5e5e5;
	z-index : 999999;
	width : 300px;
}

.ui-dialog .ui-dialog-titlebar {
	display : block;
	background : url(../gfx/box-title.gif) repeat-x left top;
	height : 29px;
}

.ui-dialog .ui-dialog-title {
	float : left;
	margin : 0;
	padding : 0;
	font : 13px/29px 'MuseoSans500', Arial;
	text-indent : 20px;
	text-transform : uppercase;
	font-weight : normal;
	word-spacing : 3px;
	height : 29px;
}

.ui-dialog .ui-dialog-titlebar-close {
	float : right;  
	background : url(../gfx/thumb-delete.png) no-repeat left top;
	margin : 7px 20px 0 0;
	overflow : hidden;
	cursor : pointer;
	width : 13px;
	height : 13px;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
	opacity : 0.7;
	filter : alpha(opacity=70);
}

.ui-dialog .ui-dialog-content {
	background : url(../gfx/box-shadow.gif) repeat-x left top #FFFFFF;
	padding : 20px;
	overflow : auto;
}

.ui-dialog .ui-dialog-content.forms {
	padding : 0;
}

.ui-draggable .ui-dialog-titlebar {
	cursor : move;
}