﻿
body{background: #eee;}
.widgetZone{ border: 1px dotted #383838; padding: 3px; width: 200px; float: left; margin: 10px;}



#templateFOOTER, #templateHEADER{ width: 100% !important;clear: both;}
#timeline{ width: 600px !important;}
