﻿@model NWP.Models.DataRepository<NWP.Widgets.News>

<div class="section">
	<div class="box">
		<div class="title">
			Redigera sida
			<span class="hide"></span>
		</div>
		<div class="content">
            @using (Html.BeginForm()) {
                @Html.ValidationSummary(true)
   

                    @Html.HiddenFor(model => model.WebPage.PageId)

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WebPage.ParentId)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WebPage.ParentId)
                        @Html.ValidationMessageFor(model => model.WebPage.ParentId)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WebPage.Layout)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WebPage.Layout)
                        @Html.ValidationMessageFor(model => model.WebPage.Layout)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WebPage.Active)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WebPage.Active)
                        @Html.ValidationMessageFor(model => model.WebPage.Active)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WebPage.Visible)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WebPage.Visible)
                        @Html.ValidationMessageFor(model => model.WebPage.Visible)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WebPage.Domain)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WebPage.Domain)
                        @Html.ValidationMessageFor(model => model.WebPage.Domain)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WebPage.IsGlobal)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WebPage.IsGlobal)
                        @Html.ValidationMessageFor(model => model.WebPage.IsGlobal)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WebPage.Position)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WebPage.Position)
                        @Html.ValidationMessageFor(model => model.WebPage.Position)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WebPage.Route)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WebPage.Route)
                        @Html.ValidationMessageFor(model => model.WebPage.Route)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WebPage.SubText)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WebPage.SubText)
                        @Html.ValidationMessageFor(model => model.WebPage.SubText)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WebPage.MetaTitle)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WebPage.MetaTitle)
                        @Html.ValidationMessageFor(model => model.WebPage.MetaTitle)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WebPage.MetaDescription)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WebPage.MetaDescription)
                        @Html.ValidationMessageFor(model => model.WebPage.MetaDescription)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WebPage.MetaKeyWords)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WebPage.MetaKeyWords)
                        @Html.ValidationMessageFor(model => model.WebPage.MetaKeyWords)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WebPage.StartDate)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WebPage.StartDate)
                        @Html.ValidationMessageFor(model => model.WebPage.StartDate)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WebPage.EndDate)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WebPage.EndDate)
                        @Html.ValidationMessageFor(model => model.WebPage.EndDate)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WebPage.Created)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WebPage.Created)
                        @Html.ValidationMessageFor(model => model.WebPage.Created)
                    </div>

                    <p>
                        <input type="submit" value="Save" />
                    </p>

            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

		</div>
	</div>
</div>