﻿@model NWP.ViewModels.SearchViewModel
<div class="section">
	<div class="box">
		<div class="title">
			@RC("Search")
			<span class="hide"></span>
		</div>
		<div class="content">
            @{
            <text>Din sökning resulterade i (@Model.Count) svar.<br/><hr /></text>    
                
            foreach(var item in Model.SearchResults)
            {
                <b>[@RC(item.TableType)] @item.Title</b>
                <p>@item.Content</p>
                <a href="@item.Url">@item.Title</a><br/><br/>
            }
        }
		</div>
	</div>
</div>
