﻿@model NWP.Widgets.ShopItem
<div class="section">
    <div class="box">
        <div class="title">
            @RC("Shop")
            <span class="hide"></span>
        </div>
        <div class="content">
            @using (Html.BeginForm("SaveObject", "Shop"))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Created)
                @Html.HiddenFor(model => model.TrashBin)
                @Html.HiddenFor(model => model.Image)
                
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Title))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="editor-label">
                        @RC("Category")
                    </div>
                    <div class="editor-field">
                        <select size="1" name="ShopCategory" id="ShopCategory">
                            <option value="0">Välj produktgrupp</option>
                        @foreach (var item in Model.GetCategories())
                        {
                            <option value="@item.Id">@item.CategoryName</option>
                        }
                        </select> 
                       
                    </div>
                </div>
                
                
                 <div class="row">
                    <div class="editor-label">
                        @RC("Skapa ny kategori")
                    </div>
                    <div class="editor-field">
                        <input type="text" name="category" style="width: 140px !important;" id="category" /> <button class="button blue" type="button" id="btnCat"><span>Spara</span></button>
                      
                         <script>
                           
                            $("#btnCat").click(function () {
                              
                                $.ajax({
                                    url: "/admin/Shop/AddCategory",
                                    data: { text: $("#category").val() },
                                    beforeSend: function() { 
                                        $("#ShopCategory").selectmenu('disable');  
                                    },
                                    success: function (data) {

                                        $('#ShopCategory').addOption(data.id, data.categoryname, true);
                                        $("#category").val('');
                                        $('#ShopCategory').selectmenu('destroy').selectmenu({
                                            style: 'dropdown',
                                            transferClasses: true,
                                            width: null
                                        });

                                    }, error: function (data, err) {
                                        alert(data.responseText);
                                    },
                                    dataType: "json"
                                });
                      

                            });
                        </script>
                    </div>
                </div>
                
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.ArtNmbr))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ArtNmbr)
                        @Html.ValidationMessageFor(model => model.ArtNmbr)
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.MinimumAmount))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.MinimumAmount)
                        @Html.ValidationMessageFor(model => model.MinimumAmount)
                    </div>
                </div>
                
                                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Price))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Price)
                        @Html.ValidationMessageFor(model => model.Price)
                    </div>
                </div>
                
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.OtherInfo))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.OtherInfo)
                    </div>
                </div>
                
                                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.StartDate))
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(x => x.StartDate, new { @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.StartDate)
                    </div>
                </div>
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.EndDate))
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(x => x.EndDate, new { @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.EndDate)
                    </div>
                </div>

                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Active))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>
                </div>
                
                 
                 @Html.EditorFor(m => m.Html, "HtmlEdit")
                 @Html.Partial("~/Views/Shared/EditorTemplates/Attachments.cshtml", Model)

                 

      




                 <div class="row">
                    <p>
                        <button type="submit" class="blue"><span>@RC("Save")</span></button>
                        <button type="button" onclick="document.location.href='/admin/shop'"><span>Visa lista</span></button>
                    </p>
                </div>

            }
        </div>
    </div>
</div>
