﻿@model NWP.Widgets.News

<div class="section">
    <div class="box">
        <div class="title">
            @RC("News")
            <span class="hide"></span>
        </div>
        <div class="content">
            @using (Html.BeginForm("SaveData", "News"))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Domain)
                @Html.HiddenFor(model => model.WidgetId)
                @Html.HiddenFor(model => model.TrashBin)
                @Html.HiddenFor(model => model.Created)
 
    
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.PageId))
                    </div>
                    <div class="editor-field">
                        @Pages(Model.PageId)
                        @Html.ValidationMessageFor(model => model.PageId)
                    </div>
                </div>

                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Zone))
                    </div>
                    <div class="editor-field">
                        @Zones(Model.PageId, Model.Zone)
                        @Html.ValidationMessageFor(model => model.Zone)
                    </div>
                </div>
    
    

                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.IsGlobal))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IsGlobal)
                        @Html.ValidationMessageFor(model => model.IsGlobal)
                    </div>
                </div>

 

                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Title))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>

                @Html.EditorFor(m => m.Html, "HtmlEdit")

    
    

                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.StartDate))
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(x => x.StartDate, new { @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.StartDate)
                    </div>
                </div>
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.EndDate))
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(x => x.EndDate, new { @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.EndDate)
                    </div>
                </div>

                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Active))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>
                </div>

                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.SortOrder))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.SortOrder)
                        @Html.ValidationMessageFor(model => model.SortOrder)
                    </div>
                </div>
                
                 <input type="hidden" name="WidgetType" value="News" />
                <div class="row">
                    <p>
                        <button type="submit" class="blue">
                            <span>@RC("Save")</span></button>
                        <button type="button" onclick="document.location.href='/admin/news'"><span>Visa lista</span></button>
                        <button type="button" onclick="document.location.href='/admin/pages/edit/@Model.PageId'"><span>Gå till sidan</span></button>
                    </p>
                </div>
            }
            <div>
            </div>
        </div>
    </div>
</div>
