﻿@model NWP.Widgets.NewsItem
<div class="section">
    <div class="box">
        <div class="title">
            @RC("News")
            <span class="hide"></span>
        </div>
        <div class="content">
            @using (Html.BeginForm("SaveObject", "News"))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Created)
                @Html.HiddenFor(model => model.TrashBin)

                
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Title))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>
                
                
                
                 <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Teaser))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Teaser)
                        @Html.ValidationMessageFor(model => model.Teaser)
                    </div>
                </div>

                 @Html.EditorFor(m => m.Html, "HtmlEdit")

      

                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.StartDate))
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(x => x.StartDate, new { @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.StartDate)
                    </div>
                </div>
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.EndDate))
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(x => x.EndDate, new { @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.EndDate)
                    </div>
                </div>

                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Active))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>
                </div>
                
                 @Html.Partial("~/Views/Shared/EditorTemplates/Attachments.cshtml", Model)


                 <div class="row">
                    <p>
                        <button type="submit" class="blue"><span>@RC("Save")</span></button>
                        <button type="button" onclick="document.location.href='/admin/news'"><span>Visa lista</span></button>
                    </p>
                </div>

            }
        </div>
    </div>
</div>
