﻿<div class="section">
    <div class="box">
        <div class="title">
            @RC("Settings")
            <span class="hide"></span>
           
        </div>
        <div class="content">
            
        </div>
    </div>
</div>
