﻿@model NWP.Widgets.Comments
@{var pageid = Model.PageId.ToString();}

<div class="section">
    <div class="box">
        <div class="title">
            @RC("Content")
            <span class="hide"></span>
        </div>
        <div class="content">
            @using (Html.BeginForm("SaveData", "Comments"))
            {
                
                
    @Html.ValidationSummary(true)
  

              @Html.HiddenFor(model => model.WidgetId)
                @Html.HiddenFor(model => model.Domain)

                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.PageId))
                    </div>
                    <div class="editor-field">
                        @Pages(Model.PageId)
                        @Html.ValidationMessageFor(model => model.PageId)
                    </div>
                </div>

                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Zone))
                    </div>
                    <div class="editor-field">
                        @Zones(pageid, Model.Zone)
                        @Html.ValidationMessageFor(model => model.Zone)
                    </div>
                </div>
    
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.IsGlobal))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IsGlobal)
                        @Html.ValidationMessageFor(model => model.IsGlobal)
                    </div>
                </div>
    
    
    
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Active))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>
                </div>
        
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Title))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>
    
                
                  <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.SortOrder))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.SortOrder)
                        @Html.ValidationMessageFor(model => model.SortOrder)
                    </div>
                </div>
                
                 @Html.EditorFor(m => m.Html, "HtmlEdit")





           <input type="hidden" name="WidgetType" value="Contact" />
                <div class="row">
                    <p>
                       
                        <button type="submit" class="blue"><span>@RC("Save")</span></button>
                    </p>
                </div>
  
}

                    </div>
    </div>
</div>
