﻿

<div class="section">
	<div class="box">
		<div class="title">
			@RC("Comments")
			<span class="hide"></span>
		</div>
		<div class="content nopadding">
			<table cellspacing="0" cellpadding="0" border="0"> 
				<thead> 
					<tr>
						<th>Titel</th>
						<th>Zon</th>
						<th>Aktiv</th>
						<th>Sida</th>
                        <th>Redigera</th>
					</tr>
				</thead>
				<tbody>
                @foreach(var item in Model){
					<tr>
						<td>@item.Title</td>
						<td>@item.Zone</td>
                        <td>@item.IsGlobal.ToString()</td>
                        <td>@GetPageName(item.PageId)</td>
                        <td><a href="/admin/comments/edit/@item.WidgetId">Redigera</a> <a class="deleteLink" href="/admin/comments/delete/@item.WidgetId">Radera</a> <a href="/admin/comments/Copy/@item.WidgetId">Kopiera</a></td>
					</tr>
                }
				</tbody>
			</table>
		</div>
	</div>
</div>
