﻿@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="/Scripts/jquery-1.6.2.js" type="text/javascript"></script>
    <script src="/Scripts/MediaManager/jquery.jstree.js" type="text/javascript"></script>
    <script src="/Scripts/MediaManager/jquery.cookie.js" type="text/javascript"></script>
    <script src="/Themes/admin/Scripts/splitter.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Scripts/jscripts/tiny_mce/tiny_mce_popup.js"></script>
    <script src="/Scripts/Tree/jquery.tree.js" type="text/javascript"></script>
    <script src="/Scripts/Tree/jquery.cookie.js" type="text/javascript"></script>
    <script src="/Scripts/Tree/jquery.treeview.edit.js" type="text/javascript"></script>
    <script src="/Scripts/Tree/jquery.treeview.async.js" type="text/javascript"></script>
    <script type="text/javascript">
        
        var tree = {
            init: function () {
                $('li > ul').each(function (i) {
                    // Find this list's parent list item.
                    var parent_li = $(this).parent('li');

                    // Style the list item as folder.
                    parent_li.addClass('folder');

                    // Temporarily remove the list from the
                    // parent list item, wrap the remaining
                    // text in an anchor, then reattach it.
                    var sub_ul = $(this).remove();
                    parent_li.wrapInner('<a/>').find('a').click(function () {
                        // Make the anchor toggle the leaf display.
                        sub_ul.slideToggle('fast');
                        return false;
                    });
                    parent_li.append(sub_ul);
                });

                // Hide all lists except the outermost.
                $('ul ul').hide();
                $('#tree li:last-child').addClass('last');

                $("#mainTree a").each(function () {
                    $(this).click(function () {
                        tree.loadFiles($(this).attr("href"));
                        return false;
                    });
                });

                //Try get current image folder and expand tree to path
                var file = tree.getSelected();
                var folder = file.substring(0, file.lastIndexOf("/"));
                if(folder!='')
                    tree.loadFiles(folder);
                //var res = tree.getValue("resizable");
                //alert(res)

            },
            

            getSelected: function () {
                var win = tinyMCEPopup.getWindowArg("window");
                var file = win.document.getElementById(tinyMCEPopup.getWindowArg("input")).value;

                return file;
            },

            getValue: function (val) {
                var win = tinyMCEPopup.getWindowArg("window");
                return win.document.getElementById(tinyMCEPopup.getWindowArg(val)).value;
            },
            returnFile: function (id) {

                var URL = id;
                var win = tinyMCEPopup.getWindowArg("window");
                win.document.getElementById(tinyMCEPopup.getWindowArg("input")).value = URL;
                if (typeof (win.ImageDialog) != "undefined") {

                    if (win.ImageDialog.getImageData) win.ImageDialog.getImageData();
                    if (win.ImageDialog.showPreviewImage) win.ImageDialog.showPreviewImage(URL);
                }
                tinyMCEPopup.close();
            },

            loadFiles: function (folder) {

                $.ajax({
                    url: "/MediaManager/FileData",
                    data: { path: folder },
                    success: function (data) {
                        $("#rightPane").html("");
                        if(data!="") {
                            $("#rightPane").html(data);
                        
                            $("#rightPane img").each(function () {
                                if ($(this).attr("src") == tree.getSelected())
                                    $(this).addClass("selected");
                                $(this).click(function () {
                                    tree.returnFile($(this).attr("src"));
                                });
                            });
                        }

                    }, error: function (data, err) {
                        //alert(data.responseText);
                    },
                    dataType: "html"
                });


            }
        };
    </script>

    <script type= "text/javascript">
        $(document).ready(function () {
            
            tree.init();
            
            $("#Panel").splitter({
                type: "v",
                outline: true,
                minLeft: 100, sizeLeft: 200, minRight: 100,
                resizeToWidth: true,
                cookie: "vsplitter",
                accessKey: 'I'
            });
        });


   
</script>
    <style type="text/css" media="all">

          body{ margin: 0px;padding: 0px;}    
          
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            background-image: url(page.png);
            background-position: 0 1px;
            background-repeat: no-repeat;
            padding-left: 20px;
        }
        ul.tree, ul.tree ul {
            list-style-type: none; background: url(/scripts/Tree/images/vline.png) repeat-y; margin: 0; padding: 0;
        } 
        ul.tree ul { margin-left: 10px; } 
        ul.tree li { margin: 0; padding: 0 12px; line-height: 20px; background: url(/scripts/Tree/images/node.png) no-repeat; color: #369; font-weight: normal; } 
        ul.tree li.last { background: #fff url(/scripts/Tree/images/lastnode.png) no-repeat; }
        
        
        
        #Panel 
        {
   
            height: 490px;
            min-height: 100%;
            border: 1px solid #ccc;
            margin-left: 4px;margin-top: 4px;
            /* No padding allowed */
        }
        #LeftPane {
            background: #fff;
            overflow: auto;
            /* No margin or border allowed */
        }
/*
 * Right-side element of the splitter.
 */
        #rightPane {
            background: #fff;
            overflow: auto;
            /* No margin or border allowed */
        }

        .item{
            width: 180px;
            height: 180px;
            overflow: hidden;
            float: left;
            border: 1px solid #eee;
            margin: 3px;
            cursor: pointer;
        }

        .item img{
            width: 178px;
            height: 178px;
            margin: 1px;
        }

        img.selected{
            border: 3px solid red;
        }

        .vsplitbar {
            width: 2px;
            background: #ccc;
        }
    </style>
</head>
<body onload="tinyMCEPopup.executeOnLoad('init();')">
 <div id="Panel">
	<div id="LeftPane">
        <div id="mainTree">
            <ul id="tree" class="tree">
                <li id="root"><a href="/UserData">Global</a>
                    @Html.Action("TreeData","MediaManager")
                </li>
            </ul>
        </div> 
	</div>
     <div id="rightPane"></div>
</div>
</body>
</html>
