@using Nwp.Media

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Upload Result</title>
</head>
<body>
<p>@Html.Encode(Ajax.Json(Model))</p>
</body>
</html>
