﻿		#workarea .placeholder {
			border: 1px solid #ccc;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}

		#workarea .mjs-nestedSortable-error {
			background: #fbe3e4;
			border-color: transparent;
		}

		#workarea ol {
			margin: 0;
			padding: 0;
			padding-left: 30px;
		}

		#workarea ol.sortable, #workarea ol.sortable ol {
			margin: 0 0 0 25px;
			padding: 0;
			list-style-type: none;
		}

		#workarea ol.sortable {
			margin: 4em 0;
		}

		#workarea .sortable li {
			margin: 5px 0 0 0;
			padding: 0;
		}

		#workarea .sortable li div  {
			padding: 6px;
			margin: 0;
			background: #f6f6f6;
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
		}

		
		#workarea .widget{
			margin-bottom: 10px;
		}
		#workarea .widget:last-child{
			margin-bottom: 0px;
		}
		
	   #workarea .widget .title  
	   {
	        cursor: move;
			border: 1px solid #d4d4d4;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			border-color: #D4D4D4 #D4D4D4 #BCBCBC;
			padding: 6px;
			margin: 0;
			cursor: move;
			background: #f6f6f6;
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
		}
		
		#workarea{
			width: 100%;
		}
		
		#workarea .zone{
			width: 30%;
			float: left;
			margin: 1%;
			min-height: 40px;
			border: 1px solid transparent;
		}
		
		#workarea .zone:hover{
			
			border: 1px dashed #ccc;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			
		}
		
		#workarea .content{
			border-left: 1px dashed #d4d4d4;
			border-right: 1px dashed #d4d4d4;
			border-bottom: 1px dashed #d4d4d4;
			min-height: 20px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			padding: 3px;
		}

		#workarea .ui-effects-transfer, .ui-effects-transfer { border: 1px dashed #4183C4; }
		
		
		#workarea .button  {
			padding: 6px;
			margin: 0;
			cursor: pointer;
			background: blue;
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 40%, #ededed 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 40%,#ededed 100%);
			background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 40%,#ededed 100%);
			background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 40%,#ededed 100%);
			background: linear-gradient(top,  #ffffff 0%,#f6f6f6 40%,#ededed 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 );
			border: 1px solid #d4d4d4;
			width: 100px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
		
		#workarea .full
		{
		    clear: both;
		    width: 100% !important;
		    
		}
		
		#workarea .left
		{
		    width: 30% !important;
		}
		#workarea .right
		{
		    width: 67% !important;
		    margin-right: 0px !important;
		    margin-left: 0px !important;
		}
		
		#workarea .editWidgetLink, #workarea .deleteWidget {
		    float: right;cursor: pointer;
		    margin-left: 10px;
		}
		
		.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

