﻿@model NWP.Widgets.LinkItem


<div class="section">
    <div class="box">
        <div class="title">
            @RC("Links")
            <span class="hide"></span>
        </div>
        <div class="content">
            @using (Html.BeginForm("SaveObject", "Links"))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.TrashBin)

                

                
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Name))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                
               <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Url))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Url)
                        @Html.ValidationMessageFor(model => model.Url)
                    </div>
                </div>
                
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.ImageIcon))
                    </div>
                    <div class="editor-field">
                      
                       @ImageIcon(Model.ImageIcon)
                    
                    </div>
                </div>
               
                <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Active))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>
                </div>
                
                if(Model.Links.Alternate)
                {
                
                   <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.UserName))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.UserName)
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                    </div>
                    
                   <div class="row">
                    <div class="editor-label">
                        @RC(Html.LabelFor(model => model.Password))
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                    </div>
                
                
                }else{
                      @Html.HiddenFor(model => model.UserName)
                      @Html.HiddenFor(model => model.Password) 
                }
                

                 <div class="row">
                    <p>
                        <button type="submit" class="blue"><span>@RC("Save")</span></button>
                        <button type="button" onclick="document.location.href='/admin/links'"><span>Visa lista</span></button> 
                        <button type="button" onclick="document.location.href='/admin/links/CreateItem/@Model.Links.WidgetId'"><span>Skapa ny länk is samma samling</span></button>
                    </p>
                </div>

            }
        </div>
    </div>
</div>
