﻿<div class="menubar">
    <a href="/admin/links/create">Skapa länklista</a>
</div>

<div class="section">
    <div class="box">
        <div class="title">
            @RC("Links")
            <span class="hide"></span>
           
        </div>
        <div class="content">
            <table cellspacing="0" cellpadding="0" border="0"> 
                <thead> 
                    <tr>
                        <th>Titel</th>
                        <th>Zon</th>
                        <th>Skapad</th>
                        <th>Redigera</th>
                    </tr>
                </thead>
                <tbody>
                   @foreach(var item in Model){
					<tr>
						<td>@item.Title</td>
						<td>@item.Zone</td>
						<td>&nbsp;</td>
                        <td><a href="/admin/links/edit/@item.WidgetId">Redigera</a> | <a href="#" class="expandLink" id="@item.WidgetId">Visa länkar</a> | <a href="/admin/links/Create">Skapa ny</a> | <a class="deleteLink" href="/admin/links/delete/@item.WidgetId">@RC("Delete")</a></td>
                    </tr>
                    <tr>
                        <td colspan="5" class="sublist">
                            <table cellspacing="0" cellpadding="0" border="0" class="list @item.WidgetId">
                                <tr>
                                    <th>@RC("Title")</th>
                                    <th>@RC("Edit")</th>
                                    <th>@RC("Delete")</th>
                                </tr> 
                                <tr>
                                    <td colspan="3"><a href="/admin/links/CreateItem/@item.WidgetId">Skapa länk</a></td>
                                </tr>
                                @foreach (var evt in item.GetItems())
                                {
                                     <tr>
                                       <td>@evt.Name</td>
                                       <td><a href="/admin/links/EditItem/@evt.Id">Redigera</a></td>
                                       <td><a class="deleteLink" href="/admin/links/DeleteItem/@evt.Id">Ta bort</a></td>
                                   </tr>
                                }
                            </table>
                        </td>
					</tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
