﻿@{
    ViewBag.Title = "AdmAccounts";
    Layout = null;
}

<style>
    body {
        font: 8pt arial;
    }
</style>

<h2>AdmAccounts</h2>
<div style="width: 4000px;">
@Html.Raw(ViewBag.Users)
</div>
