﻿@model NWP.Widgets.Timeline

<div class="section">
	<div class="box">
		<div class="title">
			@RC("Timeline")
			<span class="hide"></span>
		</div>
		<div class="content">

@using (Html.BeginForm("SaveData","Timeline")) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.WidgetId)

    <div class="row">
        <div class="editor-label">
            @RC(Html.LabelFor(model => model.PageId))
        </div>
        <div class="editor-field">
            @Pages(Model.PageId)
            @Html.ValidationMessageFor(model => model.PageId)
        </div>
        </div>

    <div class="row">
        <div class="editor-label">
            @RC(Html.LabelFor(model => model.Zone))
        </div>
        <div class="editor-field">
            @Zones(Model.PageId, Model.Zone)
           
            @Html.ValidationMessageFor(model => model.Zone)
        </div>
    </div>
    
    <div class="row">
        <div class="editor-label">
            @RC(Html.LabelFor(model => model.IsGlobal))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsGlobal)
            @Html.ValidationMessageFor(model => model.IsGlobal)
        </div>
    </div>
    
        <div class="row">
        <div class="editor-label">
            @RC(Html.LabelFor(model => model.Active))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>
        </div>

    <div class="row">
        <div class="editor-label">
            @RC(Html.LabelFor(model => model.Domain))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Domain)
            @Html.ValidationMessageFor(model => model.Domain)
        </div>
    </div>
    
    <div class="row">
        <div class="editor-label">
            @RC(Html.LabelFor(model => model.Title))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
    </div>
    
    <div class="row">
        <div class="editor-label">
            @RC(Html.LabelFor(model => model.Html))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Html)
            @Html.ValidationMessageFor(model => model.Html)
        </div>
    </div>
    <div class="row">
        <div class="editor-label">
            @RC(Html.LabelFor(model => model.Created))
        </div>
        <div class="editor-field">
             @Html.TextBoxFor(x => x.Created, new { @class = "datepicker" })
            @Html.ValidationMessageFor(model => model.Created)
        </div>
    </div>
    <div class="row">
        <div class="editor-label">
            @RC(Html.LabelFor(model => model.StartDate))
        </div>
        <div class="editor-field">
             @Html.TextBoxFor(x => x.StartDate, new { @class = "datepicker" })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>
    </div>
    <div class="row">
        <div class="editor-label">
            @RC(Html.LabelFor(model => model.EndDate))
        </div>
        <div class="editor-field">
             @Html.TextBoxFor(x => x.EndDate, new { @class = "datepicker" })
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>
    </div>
    <div class="row">
        <div class="editor-label">
            @RC(Html.LabelFor(model => model.TimelineStartDateScreen))
        </div>
        <div class="editor-field">
             @Html.TextBoxFor(x => x.TimelineStartDateScreen, new { @class = "datepicker" })
           
            @Html.ValidationMessageFor(model => model.TimelineStartDateScreen)
        </div>
    </div>
    <div class="row">
        <div class="editor-label">
            @RC(Html.LabelFor(model => model.TimelineBeginsDate))
        </div>
        <div class="editor-field">
             @Html.TextBoxFor(x => x.TimelineBeginsDate, new { @class = "datepicker" })
            @Html.ValidationMessageFor(model => model.TimelineBeginsDate)
        </div>
    </div>
    <div class="row">
        <div class="editor-label">
            @RC(Html.LabelFor(model => model.MainHeadline))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MainHeadline)
            @Html.ValidationMessageFor(model => model.MainHeadline)
        </div>
    </div>
    <div class="row">
        <div class="editor-label">
            @RC(Html.LabelFor(model => model.MainHeadlineText))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MainHeadlineText)
            @Html.ValidationMessageFor(model => model.MainHeadlineText)
        </div>
    </div>
    <input type="hidden" name="WidgetType" value="Timeline"/>
    <div class="row">
        <p>
            <input type="submit" value="Save" />
        </p>
        </div>
}
<div class="row">
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    </div>
        
        		</div>
	</div>
</div>
