﻿@using NWP.Mvc.Html

@{
    ViewBag.Title = "Pages";
    Layout = "~/Views/Shared/_Layout.Admin.cshtml";
}

<div class="section">
	<div class="box">
		<div class="title">
			@RC("Timeline")
			<span class="hide"></span>
		</div>
		<div class="content">
			<table cellspacing="0" cellpadding="0" border="0"> 
                <thead>
                    <tr>
                        <th>@RC("Title")</th>
                        <th>@RC("Zone")</th>
                        <th>@RC("Active")</th>
                        <th>@RC("Edit")</th>
                       
                    </tr>
                </thead>
				<tbody>
                @foreach(var item in Model){
					<tr>
						<td>@item.Title</td>
						<td>@item.Zone</td>
						<td>@item.Active</td>
                        <td><a href="/admin/timeline/edit/@item.WidgetId">Redigera</a> | <a href="#" class="expandLink" id="@item.WidgetId">Visa event</a> | <a href="/admin/timeline/Create">Skapa ny</a> | <a class="deleteLink" href="/admin/timeline/delete/@item.WidgetId">@RC("Delete")</a></td>
                    </tr>
                    <tr>
                       <td colspan="5" class="sublist">
                           <table cellspacing="0" cellpadding="0" border="0" class="list @item.WidgetId">
                               <tr>
                                    <th>@RC("Title")</th>
                                   <th>Datum</th>
                                   <th>@RC("Edit")</th>
                                    <th>&nbsp;</th>
                               </tr> 
                               <tr>
                                   <td><a href="/admin/timeline/CreateItem/@item.WidgetId">Skapa nytt event</a></td>
                                   <td>&nbsp;</td>
                                   <td>&nbsp;</td>
                                   <td>
                                       &nbsp;
                                   </td>
                               </tr>
                               @foreach (var evt in item.GetItems())
                               {
                                   <tr>
                                       <td>@evt.Title</td>
                                       <td>@evt.EventDate</td>
                                       <td><a href="/admin/timeline/EditItem/@evt.Id">Redigera</a></td>
                                       <td><a class="deleteLink" href="/admin/timeline/DeleteItem/@evt.Id">Ta bort</a></td>
                                   </tr>
                               }
                           </table>
                       </td>

					</tr>
                }
				</tbody>
			</table>
		</div>
	</div>
</div>