﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="/Scripts/Crop/jquery.Jcrop.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="/Scripts/Crop/jquery.Jcrop.js"></script>
    <script src="/Scripts/Crop/jquery.color.js"></script>
    <script src="/Scripts/jquery.uniform.min.js"></script>



</head>
<body>
<div id="container">
   <section id="main">
        <div class="logo"><img src="/content/logo-nwp.jpg" /></div>
       <div class="group"></div>
        @RenderBody()
    </section>
</div>
  <footer>
      (&copy;) Alla rättigheter reserverade New Wave Profile 2012. <a href="javascript:document.location='/home/logout'">Logga ut</a>
</footer>
        <script type="text/javascript" charset="utf-8">
            $(function () {
                $("input:checkbox, input:radio, input:file, select").uniform();
            });
    </script>
</body>
</html>
