﻿@model NWP.Registration.Models.EditorInputModel     


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="info">
<ul>
    <li>
        <h2>Redigera bild</h2>
        <p>Flytta och/eller dra i området på bilden för att justera tills du är nöjd med din bild.</p>
    </li>
    <li> 
        <div id="mainform"> 
                @using(Html.BeginForm("Edit","Home", FormMethod.Post)) {      
                    @Html.DisplayFor(x=>x.Profile.ImageUrl)              
                    @Html.HiddenFor(x=>x.Left)      
                    @Html.HiddenFor(x=>x.Right)      
                    @Html.HiddenFor(x=>x.Top)      
                    @Html.HiddenFor(x=>x.Bottom)      
                    @Html.HiddenFor(x => x.Profile.ImageUrl)     
                    <input type="submit" class="submit" name="action" value="Spara" />  

 }          </div>
     </li>      
 </ul>

<div class="group"></div>


<script type="text/javascript">   
         
    
    $(document).ready(function () 
    {
    
       jQuery('#profileImageEditor').Jcrop({           
           onChange: showPreview,           
           onSelect: showPreview,           
           setSelect: [@Model.Top, @Model.Left, @Model.Right, @Model.Bottom],          
           aspectRatio: 1        
       });     
      
      function showPreview(coords)     {         
          if (parseInt(coords.w) > 0)
          {             
              $('#Top').val(coords.y);              
              $('#Left').val(coords.x);            
              $('#Bottom').val(coords.y2);            
              $('#Right').val(coords.x2);              
              var width = @Model.Width;             
              var height = @Model.Height;            
              var rx = 100 / coords.w;             
              var ry = 100 / coords.h;            
              jQuery('#preview').css({                 
                  width: Math.round(rx * width) + 'px',                
                  height: Math.round(ry * height) + 'px',                
                  marginLeft: '-' + Math.round(rx * coords.x) + 'px',                  
                  marginTop: '-' + Math.round(ry * coords.y) + 'px'             
              });        
          }    
      }
   });

  </script> 

    </div>
