﻿@model NWP.Registration.Controllers.UserViewModel
@{
    ViewBag.Title = "Kontroll av uppgifter.";

    var ut = "Återförsäljare";
    if (Model.UserType == 1) { ut = "Leverantör"; }
    
}

<div class="usercard">
    <div class="user-icon">
        <img src="@Html.DisplayFor(model => model.ProfileImage)" alt="" style="float: right;border: 10px solid #eee;" />
        <a href="/home/profileimageupload">Ändra bild</a>
    </div>

    <p>
       

    </p>

    <h1>Sammanställning av uppgifter</h1><br />
    <p>Kontrollera att alla uppgifter stämmer. Om de inte stämmer kan du klicka på respektive länk för att ändra och spara om.<br />När du kontrollerat att allt stämmer, <b>klicka på "Slutför"</b> för att skapa ditt konto.</p>
    <label>Namn</label> <div class="edit" id="DisplayName">@Html.DisplayFor(model => model.Name)  @Html.DisplayFor(model => model.LastName)</div>
    <label>Person:nr</label> <div class="edit" id="Birth">@Html.DisplayFor(model => model.Birth)&nbsp;</div>
    <label>Företag</label> <div class="edit" id="Company">@Html.DisplayFor(model => model.Company)</div>
    <label>Yrke/roll</label> <div class="edit" id="Position">@Html.DisplayFor(model => model.Position)&nbsp;</div>
    <label>Användartyp</label> <div class="edit" id="UserType">@ut</div>
    <label>E-postadress</label> <div class="edit" id="Email">@Html.DisplayFor(model => model.Email)</div>
    <label>Adress</label> <div class="edit" id="Address">@Html.DisplayFor(model => model.Address)</div>                
    <label>Stad/Ort</label> <div class="edit" id="City">@Html.DisplayFor(model => model.City)</div>
    <label>Postnr</label> <div class="edit" id="Zip">@Html.DisplayFor(model => model.Zip)</div>
    <label>Telefon</label> <div class="edit" id="Phone">@Html.DisplayFor(model => model.Phone)</div>
    <label>Hemsida</label> <div class="edit" id="Homepage">@Html.DisplayFor(model => model.Homepage)</div>
    <label>&nbsp;</label><div class="edit" id="editdetails"><a href="/home/userdetails">Ändra dina uppgifter</a></div>
    <label>Lösenord</label> <div class="edit" id="NewPassword">@Html.DisplayFor(model => model.NewPassword)</div>
    <label>&nbsp;</label><div class="edit" id="passwordchange"><a href="/home/passwordchange">Ändra ditt lösenord</a></div>
    <br />
    <label>Övriga användare du anmält.</label>
    <div class="edit" id="EmailUserList">
        @Html.Raw(Model.EmailUserList)
    </div>
    <br />
    <div class="infobox edit_area" id="PersonalDetails">@Html.DisplayFor(model => model.Description)</div>
    @Html.HiddenFor(model => model.IsRegistered)

    <input id="done" class="submit" type="button" value="Slutför" /> <input id="logout" type="button" class="submit" value="Logga ut" /> <input id="wndPrint" type="button" class="submit" value="Skriv ut sidan" /> 
</div>

<script type="text/javascript">
    $(function () {
        $("#wndPrint").click(function () {
            window.print();
        });

        $("#logout").click(function () {
            window.location = '/Home/Logout';
        });

        $("#done").click(function () {
        
            var notreg = $("#IsRegistered").val() == "0";
            if (notreg) {
                if (confirm("Är du säker på att allal uppgifter är korrekt, klicka ok för att skapa ditt konto.")) {
                    window.location = '/home/transportuser/';
                }
            } else {
                alert("Du har redan registrerat dig. För att logga in gå till sidan http://intranet.newwaveprofile.com")
            }
        });
    });

</script>