﻿@model NWP.Registration.Models.LogOnModel
@{
    ViewBag.Title = "Logga in";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Kunde inte logga in dig. Se över din epost och DITT lösenord och försök igen.")
    
    <h2>New Wave Profile Registrering</h2>  
    <p>Logga in med din epostadress och det lösenord som du fått till din epost.</p>
    <ul>
        <li>
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </li>
        <li>
            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </li>
        <li>
            <p>
                <input type="submit" class="submit" value="Logga in" />
            </p>
        </li>
    </ul>
}

