﻿@model NWP.Registration.Controllers.UserViewModel
@{
    ViewBag.Title = "PasswordChange";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<div class="passwordchange"> 
     <h2>Ändra ditt lösenord</h2>
    Om du vill använda ett eget lösenord kan du ändra till det här.(Observera att du måste komma ihåg detta vid ett senare tillfälle.)
@using (Html.BeginForm("SetPassword", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <ul>

        <li>
            <div class="editor-label">
                @Html.LabelFor(model => model.NewPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </li>
        <li>
             <input type="submit" name="submit" class="submit" value="Nästa &raquo;" /> <input type="button" class="submit" value="&laquo; Ändra bild" onclick="document.location = '/home/profileimageupload'" />
        </li>

    </ul>
}
</div>
