﻿@model NWP.Registration.Models.ProfileViewModel
@using System.Web.Helpers

@{
    bool isdone = (string.IsNullOrEmpty(Model.ImageUrl)==false);
    
}

<div class="upload">
    <ul>
        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { @encType = "multipart/form-data" }))
        {        
            @Html.ValidationSummary(true)
            if (isdone)
            {    
                <img src="@Model.ImageUrl"  style="width:100px;height:100px; float: right;border: 10px solid #eee;"/>  <br />      
            }
           
            <h2>Bild</h2>
            <p>
                För att vi skall få ett så levande och personligt intranet som möjligt ber vi dig ladda upp en bild på dig själv.
                <br /><br />
                <b>Instruktioner</b><br />Klicka på knappen "Välj fil" för att bläddra dig fram i din dator till den bild du vill använda.<br />
                Klicka sedan på knappen "Ladda upp" för att kunna justera bilden så att den passar för användning i Intranätet.<br />
                <b>OBSERVERA ATT BILDEN SKALL VARA EN .JPG FÖR ATT FUNGERA KORREKT.</b>
                <br />
               
                @if (isdone)
                {
                    <br />
                <em>
                    <small>
                        Du har redan lagt till din bild och om du inte vill ändra den, klicka då på knappen "Nästa" för att gå vidare.
                    </small>
                 </em>
                }
            </p>
                 
            <li>
                <input type="file" name="Image" id="image" />
            </li>
            <li>
                <input type="submit" name="submit" class="submit" id="submit" value="Ladda upp bild" />
                @if (isdone)
                { <input type="button" class="submit" value="Nästa" onclick="document.location = '/home/PasswordChange'" /> <input type="button" class="submit" value="&laquo; Mina uppgifter" onclick="document.location = '/home/userdetails'" />} 
            </li>   
        }
    </ul>

    <script type="text/javascript">

        $("#submit").click(function () {
            if ($("#image").val() == '')
            {
                alert("Du måste ladda upp en bild för att gå vidare!");
                return false;
            }
            return true;
        });

    </script>
</div>
