﻿@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="/content/intro.jpg" alt="New Wave Profile Intranät" />
<h2>Användaruppgifter</h2>
<ul>
    <li>
        <b>Du kommer i 3 steg få skapa och ändra dina uppgifter.</b><br />
        <b>1.</b> Dina användardetaljer, tex. Namn, Epost adress och en personlig beskrivning. En del information är redan ifylld, så vi ber dig vara uppmärksam och se över alla fält.<br />
        <b>2.</b> Ladda upp bild. Denna bild skall vara en bild på dig själv som du kommer att kunna justera direkt här på hemsidan.<br />
        <b>3.</b> Du har fått ett temporärt lösenord som du kan välja att ändra till något som passar dig bättre. Kom dock ihåg att skapa ett starkt och säkert lösenord.<br />
        <br />
        <em>Alla uppgifter du lämnar här stannar endast hos New Wave Mode AB (Överlåtes inte till annan part) och är endast till för att användas i New Wave Profile's Intranät.</em>
    </li>
    <li>
        @Html.ActionLink("Klicka här för att börja.", "userdetails", "Home", new { @class="button white"})
    </li>
</ul>
