﻿@{
    ViewBag.Title = "Registrering klar.";
}


<h1>Registreringen är klar</h1>
<h2>OBSERVERA ATT DU INTE SKALL LOGGA IN HÄR PÅ DENNA SIDA IGEN NÄR DU REGISTRERAT DIG!</h2>
<b>När du logga in till intranätet skall du gå till <a href="http://intranet.newwaveprofile.com">http://intranet.newwaveprofile.com</a>, där du loggar in Din nya uppgifter första gången.</b><br /><br />

Klicka <a href="http://intranet.newwaveprofile.com/">här</a> för att komma till intranätet.
