﻿@model NWP.Registration.Controllers.UserViewModel
@{
    ViewBag.Title = "Användardetaljer";
    var selected = true;
    
    if(Model.UserType!=null){
        selected = (Model.UserType == 1) ? true : false;}

    var usertypes = new List<SelectListItem>();
    SelectListItem reseller = new SelectListItem();
    reseller.Value = "1";
    reseller.Text = "Återförsäljare";
    
    SelectListItem supplier = new SelectListItem();
    supplier.Value = "2";
    supplier.Text = "Leverantör";
    
    if(selected){
        reseller.Selected = true;    
    }else{
        supplier.Selected = true;
    } 
    usertypes.Add(reseller);
    usertypes.Add(supplier);
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="details">

<h2>Användaruppgifter</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    <ul>
        <li>
            <p>Här kan du ändra och uppdatera dina uppgifter.</p>
        </li>
        <li>
            <div class="editor-label">
                @Html.LabelFor(model => model.Company)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Company)
                @Html.ValidationMessageFor(model => model.Company)
            </div>
        </li>
        <li>
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </li>
        <li>
            <div class="editor-label">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </li>
          <li>
            <div class="editor-label">
                @Html.LabelFor(model => model.Birth)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Birth)
                @Html.ValidationMessageFor(model => model.Birth)
            </div>
        </li>

        <li>
            <div class="editor-label">
                @Html.LabelFor(model => model.Phone)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </li>
        <li>
            <div class="editor-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </li>
        <li>
            <div class="editor-label">
                @Html.LabelFor(model => model.City)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>
        </li>
        <li>
            <div class="editor-label">
                @Html.LabelFor(model => model.Zip)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Zip)
                @Html.ValidationMessageFor(model => model.Zip)
            </div>
        </li>
        <li>
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </li>
        <li>
            <div class="editor-label">
                @Html.LabelFor(model => model.Homepage)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Homepage)
                @Html.ValidationMessageFor(model => model.Homepage)
            </div>
        </li>

        <li>
            <div class="editor-label">
                @Html.LabelFor(model => model.Position)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Position)
                @Html.ValidationMessageFor(model => model.Position)
            </div>
        </li>

        <li>
            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Description)
               
            </div>
        </li>


           <li>
            <div class="editor-label">
                @Html.LabelFor(model => model.UserType)
            </div>
            <div class="editor-field">
                @Html.DropDownList("UserType", usertypes)
                @Html.ValidationMessageFor(model => model.UserType)
            </div>
        </li>

         <li>
            <div class="editor-label">
                @Html.LabelFor(model => model.EmailUserList)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.EmailUserList)
                @Html.ValidationMessageFor(model => model.EmailUserList)
            </div>
        </li>

        <li>
            <p>
                <input type="submit" class="submit" value="Spara och fortsätt" />
            </p>
        </li>
    </ul>   
    
    @Html.HiddenFor(model => model.Password)
    @Html.HiddenFor(model => model.NewPassword)
    @Html.HiddenFor(model => model.IsRegistered)
    @Html.HiddenFor(model => model.ProfileImage)
    @Html.HiddenFor(model => model.Domain)
}

    </div>