﻿@{
    ViewBag.Title = "AddUser";
}

<h2>Lägg till användare</h2>
<a href="/admin/adduser">Lägg till användare</a>
<table>
    <tr>
        <td style="vertical-align: top;">
@using (Html.BeginForm("AddUser", "admin"))
{
    <p>En användare per rad. (epostadress,företag) ex. camilla.fjordland@newwave.se;www</p>
    @Html.TextArea("users")
    <input type="submit" value="Skicka" />
    
    <br />
    <br />

      if(Model !=null)
      {
         <b>Klicka på länken för att lägga till den i Outlook</b><br />
         foreach (var user in Model)
         { 
            <a href="mailto:@user.Email?subject=Registrering New Wave Profile Intranet&body=@user.body">@user.Email</a><br />
         }
     }
    
}
</td>
        <td style="vertical-align: top;"> 
            <b style="color:red"> 
            @Html.Raw(ViewBag.Inserted)
            </b>
            <br />
           
            @foreach (var c in ViewBag.Companies)
            {
                @c.Domain <br />
            }
          
        </td>

    </tr>
</table>