﻿@model IEnumerable<NWP.Registration.Controllers.EmailHelper>

@{
    ViewBag.Title = "SendEmail";
}

<h2>SendEmail</h2>

<p>
    @Html.ActionLink("Tillbaka", "Index")
</p>
<table>
    <tr>
        <th>
            Email
        </th>
        <th>
            Password
        </th>
        <th>
            Sent
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @{var issent = item.Sent==true ? "Skickat":"Ej skickat";
                @issent
              }
            @Html.EditorFor(modelItem => item.Sent)
        </td>
    </tr>
}

</table>
