﻿@using System.Text
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.Admin.cshtml";
}


<div id="content-header">
    <h1>Responsive</h1>
    <div class="btn-group">
        <a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
        <a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
        <a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
        <a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
    </div>
</div>
<div id="breadcrumb">
    <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Home</a>
    <a href="#">Responsive</a>
    <a href="#" class="current">Responsive wizard</a>
</div>



<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-pencil"></i>
                    </span>
                    <h5>Responsive</h5>
                </div>
                <div class="widget-content">
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div id="footer" class="span12">
                2012 &copy; System engineer <a href="http://www.m33.se">M33</a>
            </div>
        </div>
    </div>
</div>
