﻿<div id="topbar">
	<div id="slider"><div id="state"></div>
        <div id="topbarcontent">.</div>
        <div id="menubar"> 
         Välkommen @GetUserName(User.Identity.Name) <a href="/admin/account/exit">[Logga ut]</a>  
            @{if (User.IsInRole("admin")) 
             {
                <a href="/admin">Administration</a> 
                <a id="pe">PX</a>}} 
                <a href="#" class="open">Open</a>
        </div>
    </div>
</div>