﻿@{
    var id = GetUserIdByName(User.Identity.Name);
    
  }

<div id="userbar" class="userbar">
    Välkommen  <a href="/personlig-sida?user=@id">@Model.GetCurrent().DisplayName</a> <a href="/personlig-sida?user=@id">@ToHtml(Model.UnreadMessagesCount())</a> <a href="/admin/account/exit">[Logga ut]</a> 
    @if (User.IsInRole("admin")) { 
         <a href="/admin/pages/edit/@Model.WebPage.PageId">Edit Page</a>  
        <a href="/admin">Administration</a> 
    }
    <div class="clear"></div>
</div>                                                                                 